<div>
    <div layout="column">
        <table class="table">
            <thead>
                <tr>
                    <th>Release</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="productReleases.length === 0">
                    <td>No releases found for this product</td>
                </tr>
                <tr ng-repeat="release in productReleases | orderBy:'id':true" class="hover-row" data-ng-click="releaseDetails(release)">
                    <td class="pointer" >{{release.id}}</td>
                </tr>
            </tbody>
        </table>
        <div  layout="row" layout-align="end center">
            <md-input-container ng-hide="(numberOfreleases < showNumberOfreleases) && (showNumberOfreleases === '10')">
                <label>Rows</label>
                <md-select ng-model="showNumberOfreleases">
                    <md-option ng-repeat="numberOfRowOption in numberOfRowOptions" value="{{numberOfRowOption.value}}">
                        {{numberOfRowOption.value}}
                    </md-option>
                </md-select>
            </md-input-container>
            <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true">
             </dir-pagination-controls>
        </div>
        <div flex="50" class="container" ng-if="loadingReleases">
            <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
            <div class="bottom-block">
                <span>Loading releases ...</span>
            </div>
        </div>
    </div>
</div>
