<md-content >
        <md-content  class="md-padding" flex="75">
            <div layout="row" layout-align="space-between">
                <h4 class="testrun-header">{{testRunSummary.description}}</h4>
                <div ng-if="edit === true">
                    <md-button  class="md-icon-button" data-ng-click="goToTestRunSummary()">
                        <md-icon md-svg-src="images/assets/ic_mode_edit_black_24px.svg"></md-icon>
                        <md-tooltip>
                            Edit test run summary
                        </md-tooltip>
                    </md-button>
                </div>
            </div>


            <div ng-show="summarySaved" ng-attr-id="{{'show-detailed-testrun-summary-' + index}}" >

                <h4>Test run summary</h4>
                <table class="table">
                    <tbody>
                    <!--<tr>-->
                        <!--<td>Dashboard</td>-->
                        <!--<td>{{testRunSummary.dashboardName}}</td>-->
                    <!--</tr>-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--<td>Description</td>-->
                        <!--<td>{{testRunSummary.description}}</td>-->
                    <!--</tr>-->
                    <tr ng-if="testRunSummary.goal">
                        <td>Goal</td>
                        <td>{{testRunSummary.goal}}</td>
                    </tr>
                    <tr ng-if="testRunSummary.annotations">
                        <td>Remarks</td>
                        <td>{{testRunSummary.annotations}}</td>
                    </tr>
                    <tr>
                        <td>Test run ID </td>
                        <td><a class="pointer" ng-click="testRunDetails(testRunSummary, 'all')">{{testRunSummary.testRunId}}</a></td>
                    <tr>
                        <td>Period</td>
                        <td>{{testRunSummary.start | date:'EEEE, dd-M-yyyy H:mm:ss'}} - {{testRunSummary.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td>{{testRunSummary.humanReadableDuration}}</td>
                    </tr>
                    <tr>
                        <td>Summary</td>
                        <td>
                            <div  data-ng-repeat="metric in testRunSummary.metrics | testRunSummary">
                                <div>
                                    <p><b>{{metric.summaryText}}</b></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="testRunSummary.buildResultsUrl && showTestRunDetails">
                        <td>CI server build result page</td>
                        <td><a ng-href="{{testRunSummary.buildResultsUrl}}">{{testRunSummary.buildResultsUrlDisplay}}</a></td>
                    </tr><tr ng-if="testRunSummary.buildResultsUrl && showTestRunDetails">
                        <td>Gatling details</td>
                        <td><a class="pointer" ng-click="gatlingDetails(testRunSummary.testRunId)">{{testRunSummary.testRunId}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div  ng-attr-id="{{'markdown-testrun-summary-' + index}}" ng-show="testRunSummary.markDown.length > 0 "></div>
        </div>

        </md-content>





    <md-button ng-show="summarySaved" ng-click="toggleShowTestRunDetails()" ng-if="showTestRunDetails" class="md-primary" aria-label="Hide detailed test run summary">
        <md-tooltip>Hide detailed test run Summary</md-tooltip>
        <md-icon md-svg-src="images/assets/ic_zoom_out_black_24px.svg"></md-icon>
        <span>Hide detailed test run Summary</span>
    </md-button>

    <md-content  ng-if="showTestRunDetails" class="md-padding" layout="column" flex="90" >


        <h4>Metrics</h4>
        <div  data-ng-repeat="metric in testRunSummary.metrics | testRunSummary " >
            <div layout="row" layout-align="space-between center">
                <h4 class="md-padding"><em>{{metric.alias}}</em></h4>
            </div>


            <div class="md-padding">
                <p>{{metric.summaryText}}</p>
            </div>

            <testrun-summary-dygraph class="md-padding" metric="metric" testrun="testrun"></testrun-summary-dygraph>

        </div>
    </md-content>


    <md-content class="md-padding" ng-if="testRunSummary.requirements.length > 0 && showTestRunDetails" flex="75">
        <h4>Metric requirement(s)</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Requirement</th>
                <th>Result</th>
            <tr>
            </thead>
            <tbody>
            <tr ng-repeat="requirement in testRunSummary.requirements">
                <td>{{requirement.requirementText}}</td>
                <td>
                        <span  class="pointer" ng-class="requirement.meetsRequirement === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'"
                               ui-sref="requirementsTestRun({productName: testRunSummary.productName, dashboardName: testRunSummary.dashboardName, testRunId: testRunSummary.testRunId, requirementsResult: requirement.meetsRequirement ? 'passed' : 'failed', selectedMetric: requirement.metricAlias })"  >
                        </span>
                </td>
            </tr>
            </tbody>
        </table>

    </md-content>
    <md-content  ng-show="summarySaved" >

        <div class="md-padding" flex="75">
            <h4>Related product requirement(s)</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Stakeholder</th>
                    <th>Requirement</th>
                    <th>Result</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="productRequirement in productrequirements">
                    <td>{{productRequirement.stakeholder}}</td>
                    <td>{{productRequirement.description}}</td>
                    <td class="center"  ng-model="productRequirement.result">
                        <span ng-if="edit === true" class="pointer" ng-class="productRequirement.result === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'"
                              data-ng-click="toggleRequirementResult($index)"  >
                        </span>
                        <span ng-if="edit === false" ng-class="productRequirement.result === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'" title="Enter edit mode to toggle result">
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-content>

    <md-button ng-show="summarySaved" ng-click="toggleShowTestRunDetails()" ng-if="!showTestRunDetails" class="md-primary" aria-label="Show detailed test run summary">
        <md-tooltip>Show detailed test run Summary</md-tooltip>
        <md-icon md-svg-src="images/assets/ic_zoom_in_black_24px.svg"></md-icon>
        <span>Show detailed test run Summary</span>
    </md-button>
    <md-button ng-show="summarySaved" ng-click="toggleShowTestRunDetails()" ng-if="showTestRunDetails" class="md-primary" aria-label="Hide detailed test run summary">
        <md-tooltip>Hide detailed test run Summary</md-tooltip>
        <md-icon md-svg-src="images/assets/ic_zoom_out_black_24px.svg"></md-icon>
        <span>Hide detailed test run Summary</span>
    </md-button>
    <div layout="row" layout-align="start center" ng-if="!summarySaved" data-ng-click="goToTestRunSummary()">
        <md-icon style="margin: 5px;" md-svg-src="images/assets/ic_warning_black_24px.svg"></md-icon>
        <span>This test run summary has not been stored in database, click here to go the test run summary view, enable edit mode and click "SAVE"</span>
    </div>
</md-content>
