<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="TARGETS-IO" class="img-responsive text-center" src="modules/core/img/brand/logo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Performance test dashboard
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome to targets-io, the open source performance test dashboard!</h2>
		<p></p>
		<p>To get started:</p>
		<ul>
			<li>
				Configure your load test tool to send
				<em>metrics to your graphite instance</em>
			</li>
			<li>
				Configure your load test tool to send
				<em>start and end events</em> and
				to the dashboard api.
			</li>
			<li>
				Send
				<em>SUT metrics to your graphite instance</em>
			</li>
			<ul>
			<li>
				Click
				<em>+ Product</em>
				to add a new product.
			</li>
			<li>
				Click
				<em>+ Dashboard</em>
				to add a new dashboard.
			</li>
			<li>
				Configure metrics in your
				<em>dashboard</em>
			</li>
			<li>
				<em>Start hitting those targets!</em>
			</li>

	<div class="well">
		<h2>targets-io Documentation</h2>
		<p>

			<ul>
				<li><a target="_blank" href="#">Setting up dashboard configuration</a>
				</li>
				<li><a target="_blank" href="#">Setting up load test tool</a>
				</li>
				<li><a target="_blank" href="#">Setting up Graphite</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
</section>
