<div data-ng-controller="SidebarController as vm">
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <div layout="column">
            <md-input-container flex>
                <label>Search product</label>
                <input ng-model="productFilter" >
            </md-input-container>
            <md-content role="navigation" md-scroll-shrink>
                <ul class="side-menu">
                    <li ng-repeat="section in vm.menu.sections | filter:productFilter" class="parent-list-item"
                        ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                        <h2 class="menu-heading" ng-if="section.type === 'heading'"
                            id="heading_{{section.name}}">
                            {{section}}
                        </h2>
                        <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                        <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                    </li>
                </ul>
            </md-content>
        </div>
    </md-sidenav>
</div>
