<md-toolbar ng-class="{'jenkins-job-running': jenkinsJobStatus === 'Running','jenkins-job-stopped': jenkinsJobStatus === 'Stopped', 'jenkins-job-queued': jenkinsJobStatus === 'Queued' }">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between">

        <div layout="row">
            <div class="jenkins-logo md-padding"></div>
            <h4 style="margin-left: 20px;">{{dashboard.jenkinsJobName | uppercase}}</h4>
        </div>

        <div layout="row" layout-align="start center">

            <h5  ng-cloak ng-if="jenkinsJobStatus">Status: {{jenkinsJobStatus}} </h5>
            <h5 ng-if="jenkinsJobStatus === 'Queued'">, {{jenkinsJobQueueWhy}}</h5>

        </div>

        <div layout="row">

            <md-button ng-if="jenkinsJobStatus === 'Stopped' || jenkinsJobStatus === 'Never built before'"  class="md-icon-button" data-ng-click="startJob()">
                <md-icon md-menu-origin md-svg-src="images/assets/ic_play_arrow_white_36px.svg"></md-icon>
                <md-tooltip>
                    Start Jenkins job
                </md-tooltip>
            </md-button>
            <md-button ng-if="jenkinsJobStatus === 'Running' || jenkinsJobStatus === 'Queued'" class="md-icon-button" data-ng-click="stopJob()">
                <md-icon md-menu-origin md-svg-src="images/assets/ic_stop_white_36px.svg"></md-icon>
                <md-tooltip>
                    Stop Jenkins job
                </md-tooltip>
            </md-button>
            <md-button ng-if="!authenticationFailed && jenkinsJobStatus !== 'Queued'" aria-label="Configure Jenkins job" class="md-icon-button"
                       ng-click="jenkinsJobConsole()">
                <md-icon md-menu-origin md-svg-src="images/assets/ic_live_tv_white_36px.svg"></md-icon>
                <md-tooltip>
                    Go to console output
                </md-tooltip>

            </md-button>

            <md-button ng-if="!authenticationFailed" aria-label="Configure Jenkins job" class="md-icon-button"
                       ng-click="jenkinsJobConfig()">
                <md-icon md-menu-origin md-svg-src="images/assets/ic_settings_white_24px.svg"></md-icon>
                <md-tooltip>
                    Configure Jenkins job
                </md-tooltip>

            </md-button>
            <md-button ng-if="authenticationFailed" md-no-ink class="md-primary md-raised" data-ng-click="signin()">Sign in</md-button>




        </div>
    </div>
</md-toolbar>


