<section>
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div  layout="row"  layout-align="space-between center">
      <div  layout="row"   layout-align="start center">
        <span>
            <a data-ng-href="/#!/browse/{{testRunSummary.productName}}/">{{testRunSummary.productName}}</a>  /
            <a data-ng-href="/#!/browse/{{testRunSummary.productName}}/{{testRunSummary.dashboardName}}/">{{testRunSummary.dashboardName}}</a>  /
            <a ui-sref="productReleaseDetails({productName: testRunSummary.productName, productRelease: testRunSummary.productRelease})">
            {{testRunSummary.productRelease}}
            </a>  /  {{testRunSummary.testRunId}}
        </span>
        <div  layout="row" layout-align="end center" >
            <md-button  data-ng-click="setTestRunSummaryUrl()">
                <md-icon md-svg-src="images/assets/ic_link_black_36px.svg"></md-icon>
                <md-tooltip>Share test run summary URL</md-tooltip>
            </md-button>

            <button ng-if="testRunSummaryUrl && hasFlash()"
                    class="copy-button"
                    tooltip-size="medium" title="Copy URL"
                    tooltip-side="top" clip-copy="testRunSummaryUrl"
                    clip-click="clipClicked()">Copy
            </button>
            <input flex ng-readonly="true" ng-model="testRunSummaryUrl" ng-if="testRunSummaryUrl" class="shareReportUrl"
                   share-graph-url/>

        </div>
        </div>


        <div ng-class="{'fix-to-top-summary': editMode, 'md-padding' : editMode}" layout="row" layout-align="end center">

            <md-button  class="md-primary" data-ng-click="saveAsPDF()">
                <span ng-show="!showSpinner">Save as PDF</span>
                <div layout="row" layout-align="center center"><md-progress-circular md-mode="indeterminate" md-diameter="20" ng-show="showSpinner"></md-progress-circular></div>
            </md-button>

            <md-button  ng-if="editMode === true && (summarySaved === false || updated === true)" md-no-ink class="md-primary" data-ng-click="submitTestRunSummary()">Save</md-button>
            <!--<md-button  ng-if="editMode === true && summarySaved === true && updated === true" md-no-ink class="md-primary" data-ng-click="submitTestRunSummary()">Update</md-button>-->
            <md-button ng-if="summarySaved === true" class="md-warn" data-ng-click="openDeleteModal('', testRunSummary)">Discard</md-button>
            <md-switch class="md-primary" md-no-ink aria-label="Edit mode" ng-model="editMode"  ng-class="{'switch-label-disabled': editMode === false }">
                Edit
            </md-switch>

        </div>

    </div>

    <h3>Summary</h3>
    <md-content>

        <!--<md-card>-->
            <div id="testRunInfo" flex="50" class="testrun-summary-section">
                <h4>Test run info</h4>
                <table class="table">
                <tbody>
                <tr>
                    <td>Product</td>
                    <td>{{testRunSummary.productName}}</td>
                <tr>
                <tr>
                    <td>Product release</td>
                    <td><a class="pointer" ui-sref="productReleaseDetails({productName: testRunSummary.productName, productRelease: testRunSummary.productRelease})">{{testRunSummary.productRelease}}</a></td>
                <tr>
                    <td>Dashboard</td>
                    <td>{{testRunSummary.dashboardName}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{testRunSummary.description}}</td>
                </tr>
                <tr>
                    <td>Test run ID </td>
                    <td><a ng-click="testRunDetails(testRunSummary, 'all')">{{testRunSummary.testRunId}}</a></td>
                <tr>
                    <td>Period</td>
                    <td>{{testRunSummary.start | date:'EEEE, dd-M-yyyy H:mm:ss'}} - {{testRunSummary.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>{{testRunSummary.humanReadableDuration}}</td>
                </tr>
                <tr ng-if="testRunSummary.buildResultsUrl">
                    <td>CI server build result page</td>
                    <td><a ng-href="{{testRunSummary.buildResultsUrl}}">{{testRunSummary.buildResultsUrlDisplay}}</a></td>
                </tr><tr ng-if="testRunSummary.buildResultsUrl">
                    <td>Gatling details</td>
                    <td><a ng-click="gatlingDetails(testRunSummary.testRunId)">{{testRunSummary.testRunId}}</a></td>
                </tr>



                </tbody>
            </table>
        </div>

        <div ng-if="testRunSummary.goal" flex="50" class="testrun-summary-section">
            <h4>Goal</h4>
            <p>{{testRunSummary.goal}}</p>
        </div>
        <div ng-if="testRunSummary.annotations" flex="50" class="testrun-summary-section">
            <h4>Anntotations</h4>
            <div ng-if="editMode === true" class="md-padding">
                <md-input-container class="md-block" flex>
                    <label>Annotations</label>
                    <textarea name="testRunSummaryAnnotations" ng-model="testRunSummary.annotations" columns="1" md-maxlength="500" rows="10" ng-change="markAsUpdated()"></textarea>
                </md-input-container>
            </div>
            <p ng-if="editMode === false">{{testRunSummary.annotations}}</p>
        </div>

        <div ng-show="editMode === true" layout="column">
            <h4>Markdown</h4>
            <textarea ng-show="editMode === true" ng-model="testRunSummary.markDown" placeholder="Enter Markdown text here" ng-change="updated = true;" class="markdown-textarea"></textarea>
            <div layout="row" layout-align="start center" style="margin-top: 10px;" >
                <span class="fa fa-info-circle info-hover"style="margin-left: 5px; margin-right: 5px;"></span>
                <a ng-href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax" target="'_blank'" style="font-size: 12px;">Markdown syntax documentation</a>
            </div>
        </div>
        <div class="testrun-summary-section">
            <h4 ng-if="editMode">Preview</h4>
            <div id="markdown" ng-class="{preview: editMode}"></div>
        </div>

        <div  ng-if="testRunSummary.requirements.length > 0" flex="50" class="testrun-summary-section">
            <h4>Requirements</h4>


            <table class="table">
                <thead>
                    <tr>
                        <th>Requirement</th>
                        <th>Result</th>
                    <tr>
                </thead>
                <tbody>
                    <tr ng-repeat="requirement in testRunSummary.requirements">
                        <td>{{requirement.requirementText}}</td>
                        <td>
                            <span  class="pointer" ng-class="requirement.meetsRequirement === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'"
                                  ui-sref="requirementsTestRun({productName: testRunSummary.productName, dashboardName: testRunSummary.dashboardName, testRunId: testRunSummary.testRunId, requirementsResult: requirement.meetsRequirement ? 'passed' : 'failed', selectedMetric: requirement.metricAlias })"  >
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div layout="column" >

            <h4>Metrics</h4>
            <div layout="row" ng-show="editMode">
                <md-menu >
                    <md-button id="addMetric" class="md-padding targets-io-menu-button"  aria-label="Add metric to test run summary"
                               ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon style="margin-right:16px;" md-svg-src="images/assets/ic_add_black_24px.svg"></md-icon>
                        Add metric
                        <md-tooltip>
                            Add metric to test run summary
                        </md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="metricToAdd in metricsToAdd">
                            <md-button class="targets-io-menu-button" data-ng-click="addMetricToTestRunSummary(metricToAdd)">
                                {{metricToAdd.alias}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-switch class="md-padding md-primary"  md-no-ink aria-label="Hide graphs" ng-model="hideGraphs" ng-class="{'switch-label-disabled': hideGraphs === false }">
                    CHANGE METRIC ORDER
                </md-switch>
            </div>
        </div>
        <p ng-if="testRunSummary.metrics.length === 0">No metrics configured to be included in test run summary. Enable edit mode and choose "add metric" or use the metric configuration screen to add metrics.</p>
        <md-content class="md-padding" layout="column" flex="75" >
            <ul as-sortable="dragControlListeners"  is-disabled="!hideGraphs" data-ng-model="testRunSummary.metrics">
                <li  data-ng-repeat="metric in testRunSummary.metrics" data-as-sortable-item>
                <div ng-class="{boxedGraph: hideGraphs && editMode}"  data-as-sortable-item-handle>
                    <div layout="row" layout-align="space-between center">
                        <h4 class="md-padding" data-ng-click="editMetric(metric._id)">{{metric.alias}}</h4>
                        <div layout="row">
                            <md-menu ng-if="editMode && !hideGraphs">
                                <div aria-label="Open test run menu" class="md-icon-button"
                                     ng-click="openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_24px.svg"></md-icon>
                                    <md-tooltip>
                                        Metric menu
                                    </md-tooltip>
                                </div>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button class="targets-io-menu-button" data-ng-click="restoreDefaultAnnotation(metric)">
                                            <md-icon md-svg-src="images/assets/ic_refresh_black_36px.svg"
                                                     md-menu-align-target></md-icon>
                                            Restore default annotation
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button class="targets-io-menu-button" data-ng-click="setDefaultAnnotation(metric)">
                                            <md-icon md-svg-src="images/assets/ic_short_text_black_24px.svg"
                                                     md-menu-align-target></md-icon>
                                            Set as default annotation
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button class="targets-io-menu-button" data-ng-click="deleteFromTestRunSummary(metric)">
                                            <md-icon md-svg-src="images/assets/ic_delete_black_36px.svg"
                                                     md-menu-align-target></md-icon>
                                            Remove metric from summary
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button class="targets-io-menu-button" data-ng-click="editMetric(metric._id)">
                                            <md-icon md-svg-src="images/assets/ic_settings_black_24px.svg"
                                                     md-menu-align-target></md-icon>
                                            Metric configuration
                                        </md-button>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                            <md-button ng-if="editMode && hideGraphs " class="md-icon-button" data-ng-click="moveUp(metric)">
                                <md-icon md-svg-src="images/assets/ic_drag_handle_black_24px.svg"></md-icon>
                                <md-tooltip>
                                    Drag and drop
                                </md-tooltip>
                             </md-button>

                        </div>
                    </div>


                    <div ng-if="editMode === true" class="md-padding">
                        <md-input-container class="md-block" flex>
                            <label>Annotations</label>
                            <textarea name="summaryText" ng-model="metric.summaryText" columns="1" md-maxlength="500" rows="10" ng-change="markAsUpdated()"></textarea>
                        </md-input-container>
                    </div>
                    <div ng-if="editMode === false" class="md-padding">
                        <p>{{metric.summaryText}}</p>
                    </div>

                    <testrun-summary-dygraph ng-show="!hideGraphs" class="md-padding" metric="metric" testrun="testRunSummary" index="$index"></testrun-summary-dygraph>
            </div>
            </li>
        </ul>
        </md-content>
        <!--<div id="summary-buttons" layout="row">-->
            <!--<md-button  ng-if="editMode === true && summarySaved === false" md-no-ink class="md-primary" data-ng-click="saveTestRunSummary()">Save</md-button>-->
            <!--<md-button  ng-if="editMode === true && summarySaved === true" md-no-ink class="md-primary" data-ng-click="updateTestRunSummary()">Update</md-button>-->
            <!--<md-button ng-if="editMode === true && summarySaved === true" class="md-warn" data-ng-click="openDeleteModal('', testRunSummary)">Discard</md-button>-->

        <!--</div>-->


    </md-content>
</section>
