<section>
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="row" class="md-padding" layout-align="space-between">
        <span>
            <a data-ng-href="/#!/browse/{{testRunSummary.productName}}/">{{testRunSummary.productName}}</a>  /
            <a data-ng-href="/#!/browse/{{testRunSummary.productName}}/{{testRunSummary.dashboardName}}/">{{testRunSummary.dashboardName}}</a>  /
            <a ui-sref="productReleaseDetails({productName: testRunSummary.productName, productRelease: testRunSummary.productRelease})">
            {{testRunSummary.productRelease}}
            </a>  /  {{testRunSummary.testRunId}}
        </span>
        <div layout="row" layout-align="end center">

            <md-button ng-if="editMode === true && summarySaved === true" class="md-warn" data-ng-click="openDeleteModal('', testRunSummary)">Discard</md-button>
            <md-switch class="md-primary" md-no-ink aria-label="Edit mode" ng-model="editMode" ng-change="submitTestRunSummary()" ng-class="{'switch-label-disabled': editMode === false }">
                Edit
            </md-switch>
        </div>
    </div>
    <h2>Summary</h2>
    <md-content>

        <!--<md-card>-->
            <div flex="50">
                <h3>Test run info</h3>
                <table class="table">
                <tbody>
                <tr>
                    <td>Product</td>
                    <td>{{testRunSummary.productName}}</td>
                <tr>
                <tr>
                    <td>Product release</td>
                    <td><a class="pointer" ui-sref="productReleaseDetails({productName: testRunSummary.productName, productRelease: testRunSummary.productRelease})">{{testRunSummary.productRelease}}</a></td>
                <tr>
                    <td>Dashboard</td>
                    <td>{{testRunSummary.dashboardName}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{testRunSummary.description}}</td>
                </tr>
                <tr>
                    <td>Test run ID </td>
                    <td><a ng-click="testRunDetails(testRunSummary, 'all')">{{testRunSummary.testRunId}}</a></td>
                <tr>
                    <td>Period</td>
                    <td>{{testRunSummary.start | date:'EEEE, dd-M-yyyy H:mm:ss'}} - {{testRunSummary.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>{{testRunSummary.humanReadableDuration}}</td>
                </tr>
                <tr ng-if="testRunSummary.buildResultsUrl">
                    <td>CI server build result page</td>
                    <td><a ng-href="{{testRunSummary.buildResultsUrl}}">{{testRunSummary.buildResultsUrlDisplay}}</a></td>
                </tr><tr ng-if="testRunSummary.buildResultsUrl">
                    <td>Gatling details</td>
                    <td><a ng-click="gatlingDetails(testRunSummary.testRunId)">{{testRunSummary.testRunId}}</a></td>
                </tr>



                </tbody>
            </table>
        </div>

        <div class="md-padding" ng-if="testRunSummary.goal" flex="50">
            <h3>Goal</h3>
            <p>{{testRunSummary.goal}}</p>
        </div>
        <div class="md-padding" ng-if="testRunSummary.annotations" flex="50">
            <h3>Remarks</h3>
            <div ng-if="editMode === true" class="md-padding">
                <md-input-container class="md-block" flex>
                    <label>Annotations</label>
                    <textarea name="testRunSummaryAnnotations" ng-model="testRunSummary.annotations" columns="1" md-maxlength="500" rows="10"></textarea>
                </md-input-container>
            </div>
            <p ng-if="editMode === false">{{testRunSummary.annotations}}</p>
        </div>

        <div class="md-padding" ng-if="testRunSummary.requirements.length > 0" flex="50">
            <h3>Requirements</h3>


            <table class="table">
                <thead>
                    <tr>
                        <th>Requirement</th>
                        <th>Result</th>
                    <tr>
                </thead>
                <tbody>
                    <tr ng-repeat="requirement in testRunSummary.requirements">
                        <td>{{requirement.requirementText}}</td>
                        <td>
                            <span  class="pointer" ng-class="requirement.meetsRequirement === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'"
                                  ui-sref="requirementsTestRun({productName: testRunSummary.productName, dashboardName: testRunSummary.dashboardName, testRunId: testRunSummary.testRunId, requirementsResult: requirement.meetsRequirement ? 'passed' : 'failed', selectedMetric: requirement.metricAlias })"  >
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <h3>Metrics</h3>

        <md-content class="md-padding" layout="column" flex="75" >
            <div  data-ng-repeat="metric in testRunSummary.metrics | testRunSummary " >
                <div layout="row" layout-align="space-between center">
                    <h4 class="md-padding" data-ng-click="editMetric(metric._id)">{{metric.alias}}</h4>
                    <md-button ng-if="editMode && $index > 0" class="md-icon-button" data-ng-click="moveUp(metric)">
                        <md-icon md-svg-src="images/assets/ic_arrow_upward_black_24px.svg"></md-icon>
                        <md-tooltip>
                            Move up
                        </md-tooltip>
                    </md-button>
                </div>


                <div ng-if="editMode === true" class="md-padding">
                    <md-input-container class="md-block" flex>
                        <label>Annotations</label>
                        <textarea name="summaryText" ng-model="metric.summaryText" columns="1" md-maxlength="500" rows="10"></textarea>
                    </md-input-container>
                </div>
                <div ng-if="editMode === false" class="md-padding">
                    <p>{{metric.summaryText}}</p>
                </div>

                <testrun-summary-dygraph class="md-padding" metric="metric" testrun="testRunSummary"></testrun-summary-dygraph>

            </div>
        </md-content>
        <!--<div id="summary-buttons" layout="row">-->
            <!--<md-button  ng-if="editMode === true && summarySaved === false" md-no-ink class="md-primary" data-ng-click="saveTestRunSummary()">Save</md-button>-->
            <!--<md-button  ng-if="editMode === true && summarySaved === true" md-no-ink class="md-primary" data-ng-click="updateTestRunSummary()">Update</md-button>-->
            <!--<md-button ng-if="editMode === true && summarySaved === true" class="md-warn" data-ng-click="openDeleteModal('', testRunSummary)">Discard</md-button>-->

        <!--</div>-->


    </md-content>
</section>
