<md-content>
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">

        <div layout="row" id="fixedBaselineToast" layout-align="space-between" >
            <div layout="row"  layout-align="start center">
                <md-checkbox style="margin-bottom: 0px;" ng-model="completedTestRunsOnly" aria-label="Show completed test runs only">
                    Show completed test runs only
                </md-checkbox>
                <span ng-cloak ng-if="onlyIncompleteTestRunsAvailable" title="There are incomplete test runs!" class="fa fa-exclamation-triangle text-danger info-hover"style="margin-left: 10px;"></span>
            </div>

            <div >
                <md-button style="margin-left: 5px;" ng-class="{'disabled': testRunSelected === false }" class="md-accent md-icon-button" ng-click="testRunSelected && openDeleteSelectedTestRunsModal('')" style="margin: 0px;" >
                    <md-tooltip>
                        Delete selected test runs
                    </md-tooltip>
                    <md-icon md-menu-origin md-svg-src="images/assets/ic_delete_forever_black_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
        <div  flex="25" class="md-padding" layout="column" data-ng-if="progress !== undefined" layout-align="center right">
            <md-progress-linear  md-mode="determinate" value="{{progress}}"></md-progress-linear>
            <div>Updating test runs ... {{progress}}%</div>
        </div>

        <table class="table testrun">
            <colgroup ng-if="!showBenchmarks">
                <col span="1" style="width: 32%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 18%;">
                <col span="1" style="width: 18%;">
                <col span="1" style="width: 18%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 2%;">
                <col span="1" style="width: 2%;">
            </colgroup>
            <colgroup ng-if="showBenchmarks">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 18%;">
                <col span="1" style="width: 18%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 8%;">
                <col span="1" style="width: 2%;">
                <col span="1" style="width: 2%;">
            </colgroup>
            <thead>
            <tr>
                <th>Test run ID</th>
                <th></th>
                <th>Release</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Requirements</th>
                <th data-ng-if="showBenchmarks">Previous Build</th>
                <th ng-if="!showBenchmarks"></th>
                <th data-ng-if="showBenchmarks">Fixed Baseline</th>
                <th ng-if="!showBenchmarks"></th>
                <th data-ng-if="showBenchmarks">
                    <md-tooltip>Test run set as fixed baseline</md-tooltip>
                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg"></md-icon>

                </th>
                <th ng-if="!showBenchmarks"></th>
                <th></th>
                <th>
                    <md-checkbox md-no-ink aria-label="select all test runs" ng-model="allTestRunsSelected" ng-change="setAllTestRunsSelected(allTestRunsSelected)" style="margin: 0px;">
                    </md-checkbox>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="runningTest in runningTests" class="running-test" >
                <td >
                    <div layout="row"><div class="pointer" data-ng-click="liveGraphs(runningTest)">{{runningTest.testRunId}}</div>
                    </div>
                </td>
                <td class="testrun-annotations-button">
                    <div class="pointer" ng-show="runningTest.annotations">
                        <md-button class="md-icon-button testrun-annotations-button running-test-annotations-icon" data-ng-click="showAnnotations($event, runningTest, true)">
                            <md-icon md-svg-src="images/assets/ic_info_outline_black_18px.svg"></md-icon>
                            <md-tooltip>
                                Test run annotations
                            </md-tooltip>
                        </md-button>
                    </div>
                    <div class="pointer" ng-show="!runningTest.annotations">
                        <md-button class="md-icon-button testrun-annotations-button running-test-annotations-icon" data-ng-click="showAnnotations($event, runningTest, true)">
                            <md-icon md-svg-src="images/assets/ic_mode_edit_black_24px.svg"></md-icon>
                            <md-tooltip>
                                Annotate test run
                            </md-tooltip>
                        </md-button>
                    </div>
                </td>
                <td class="pointer"  data-ng-click="liveGraphs(runningTest)">
                    {{runningTest.productRelease}}
                </td>
                <td class="pointer" data-ng-click="liveGraphs(runningTest)">
                    {{runningTest.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                </td>
                <td class="pointer" data-ng-click="liveGraphs(runningTest)">
                    <div layout="column" data-ng-if="runningTest.progress !== undefined" layout-align="center left">
                        <md-progress-linear  md-mode="determinate" value="{{runningTest.progress}}"></md-progress-linear>
                        <div class="running-test">{{runningTest.timeLeft}}</div>
                    </div>
                    <div layout="column" data-ng-if="runningTest.progress === undefined" layout-align="center left">
                        <md-progress-linear  flex md-mode="indeterminate"></md-progress-linear>
                        <div class="running-test">No data available</div>
                    </div>
                </td>
                <td class="pointer" data-ng-click="liveGraphs(runningTest)">{{runningTest.humanReadableDuration}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="testRun in testRuns | orderBy:'end':true | filter: {completed: completedTestRunsOnly ? true : '' }"
                ng-class="{'warning': (testRun.testRunId === dashboard.baseline && dashboard.useInBenchmark === true), 'hover-row': true}" valign="center" >
                <td >
                        <div class="pointer" data-ng-click="testRunDetails(testRun)">{{testRun.testRunId}}</div>

                </td>
                <td class="testrun-annotations-button pointer testrun">
                    <div >
                        <md-button  ng-show="testRun.annotations" class="md-icon-button testrun-annotations-button" data-ng-click="showAnnotations($event, testRun, false)">
                            <md-icon md-svg-src="images/assets/ic_info_outline_black_18px.svg"></md-icon>
                            <md-tooltip>
                                {{testRun.annotations}}
                            </md-tooltip>
                        </md-button>
                    </div>
                </td>
                <td class="pointer" data-ng-click="testRunDetails(testRun)">
                    {{testRun.productRelease}}
                </td>
                <td class="pointer" data-ng-click="testRunDetails(testRun)">
                    {{testRun.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                </td>
                <td class="pointer" data-ng-click="testRunDetails(testRun)">
                    {{testRun.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                    <md-progress-linear data-ng-if="runningTest && $index < numberOfRunningTests" flex md-mode="indeterminate"></md-progress-linear>

                </td>
                <td class="pointer" data-ng-click="testRunDetails(testRun)">
                    <div layout="row">
                        <md-icon ng-if="testRun.completed === false" class="incomplete" md-svg-src="images/assets/ic_broken_image_black_24px.svg"><md-tooltip>Not completed</md-tooltip></md-icon>
                        <p style="margin-bottom: 0px;">{{testRun.humanReadableDuration}}</p>
                    </div>
                </td>
                <td  header-class="text-center" class="text-center pointer testrun"
                    data-ng-click="(testRun.meetsRequirement === true || testRun.meetsRequirement === false ) && testRunRequirements(testRun)"><!--<span-->
                        <!--ng-class="testRun.meetsRequirement === true ? 'fa-lg fa fa-check-circle-o text-success center' : (testRun.meetsRequirement === false ? 'fa-lg fa fa-exclamation-circle text-danger center' : (testRun.meetsRequirement === null ? 'fa-lg fa fa-times-circle text-alert center': 'fa-lg fa fa-refresh fa-spin text-alert center' ))"></span>-->
                    <md-icon class="passed" ng-if="testRun.meetsRequirement === true" md-svg-src="images/assets/check-circle-outline.svg"></md-icon>
                    <md-icon class="failed" ng-if="testRun.meetsRequirement === false" md-svg-src="images/assets/alert-circle-outline.svg"></md-icon>
                    <md-icon ng-if="testRun.meetsRequirement === null" md-svg-src="images/assets/close-circle-outline.svg"></md-icon>
                    <div layout="row" ng-if="testRun.meetsRequirement === 'pending'" layout-align="center center"><md-progress-circular md-mode="indeterminate" md-diameter="35" ></md-progress-circular></div>
                </td>
                <td data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)" header-class="text-center" title="{{testRun.previousBuild}}"
                    class="text-center pointer testrun" data-ng-click="(testRun.benchmarkResultPreviousOK === true || testRun.benchmarkResultPreviousOK === false) && testRunPreviousBuildBenchmark(testRun)"><!--<span-->
                        <!--ng-class="testRun.benchmarkResultPreviousOK === true ? 'fa-lg fa fa-check-circle-o text-success center' : (testRun.benchmarkResultPreviousOK === false ? 'fa-lg fa fa-exclamation-circle text-danger center' : (testRun.benchmarkResultPreviousOK === null ? 'fa-lg fa fa-times-circle text-alert center': 'fa-lg fa fa-refresh fa-spin  text-alert center' ))"></span>-->
                    <md-icon class="passed" ng-if="testRun.benchmarkResultPreviousOK === true" md-svg-src="images/assets/check-circle-outline.svg"></md-icon>
                    <md-icon class="failed" ng-if="testRun.benchmarkResultPreviousOK === false" md-svg-src="images/assets/alert-circle-outline.svg"></md-icon>
                    <md-icon ng-if="testRun.benchmarkResultPreviousOK === null" md-svg-src="images/assets/close-circle-outline.svg"></md-icon>
                    <div layout="row" ng-if="testRun.benchmarkResultPreviousOK === 'pending'" layout-align="center center"><md-progress-circular md-mode="indeterminate" md-diameter="35" ></md-progress-circular></div>
                </td>
                <td ng-if="!showBenchmarks"></td>
                <td data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)" header-class="text-center" title="{{testRun.baseline}}"
                    class="text-center pointer testrun" data-ng-click="(testRun.benchmarkResultFixedOK === true || testRun.benchmarkResultFixedOK === false) && testRunFixedBaselineBenchmark(testRun)"><!--<span-->
                        <!--ng-class="testRun.benchmarkResultFixedOK === true ? 'fa-lg fa fa-check-circle-o text-success center' : (testRun.benchmarkResultFixedOK === false ? 'fa-lg fa fa-exclamation-circle text-danger center' : (testRun.benchmarkResultFixedOK === null ? 'fa-lg fa fa-times-circle text-alert center': 'fa-lg fa fa-refresh fa-spin  text-alert center' ))"></span>-->
                    <md-icon class="passed"  ng-if="testRun.benchmarkResultFixedOK === true" md-svg-src="images/assets/check-circle-outline.svg"></md-icon>
                    <md-icon class="failed" ng-if="testRun.benchmarkResultFixedOK === false" md-svg-src="images/assets/alert-circle-outline.svg"></md-icon>
                    <md-icon ng-if="testRun.benchmarkResultFixedOK === null" md-svg-src="images/assets/close-circle-outline.svg"></md-icon>
                    <div layout="row" ng-if="testRun.benchmarkResultFixedOK === 'pending'" layout-align="center center"><md-progress-circular md-mode="indeterminate" md-diameter="35"></md-progress-circular></div>
                </td>
                <td  ng-if="!showBenchmarks"></td>
                <td  data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)">
                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg" ng-if="testRun.testRunId === dashboard.baseline"></md-icon>
                </td>
                <td ng-if="!showBenchmarks"></td>
                <td >
                    <md-menu style="padding-top: 0px; padding-bottom: 0px;" >
                        <div aria-label="Open test run menu" class="md-icon-button"
                                   ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_24px.svg"></md-icon>
                            <md-tooltip>
                                Test run menu
                            </md-tooltip>
                        </div>
                        <md-menu-content width="4">
                            <md-menu-item ng-show="progress === undefined">
                                <md-button  class="targets-io-menu-button" data-ng-click="viewTestRunSummary(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_assignment_black_24px.svg"></md-icon>
                                    VIEW TEST RUN SUMMARY
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined">
                                <md-button class="targets-io-menu-button" data-ng-click="refreshTestrun(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_refresh_black_36px.svg"
                                             md-menu-align-target></md-icon>
                                    UPDATE BENCHMARKS
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined" data-ng-if="showBenchmarks && testRun.testRunId !== dashboard.baseline && testRun.completed === true">
                                <md-button class="targets-io-menu-button" data-ng-click="setTestRunAsBaseline(testRun.testRunId)">
                                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg"></md-icon>
                                    SET AS BASELINE
                                </md-button>
                            </md-menu-item>
                            <md-menu-item  data-ng-if="testRun.buildResultsUrl">
                                <md-button class="targets-io-menu-button" data-ng-click="go(testRun.buildResultsUrl)">
                                    <md-icon md-svg-src="images/assets/ic_link_black_36px.svg"></md-icon>
                                    VIEW IN CI SERVER
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined" data-ng-if="testRun.completed === false">
                                <md-button class="targets-io-menu-button" data-ng-click="markAsComplete(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_check_circle_black_24px.svg"></md-icon>
                                    MARK TEST RUN AS COMPLETE
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined">
                                <md-button class="targets-io-menu-button"  data-ng-click="editTestRun(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_mode_edit_black_36px.svg"></md-icon>
                                    EDIT TEST RUN
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined">
                                <md-button class="targets-io-menu-button"  data-ng-click="showAnnotations($event, testRun, false)">
                                    <md-icon md-svg-src="images/assets/ic_info_outline_black_24px.svg"></md-icon>
                                    ANNOTATE TEST RUN
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined">
                                <md-button class="targets-io-menu-button"  data-ng-click="showProductReleaseDialog($event, testRun)">
                                    <md-icon md-svg-src="images/assets/ic_update_black_24px.svg"></md-icon>
                                    Set product release
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="progress === undefined">
                                <md-button class="targets-io-menu-button"  data-ng-click="flushCache(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_cached_black_24px.svg"></md-icon>
                                    FLUSH CACHE
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </td>
                <td  >
                    <md-checkbox md-no-ink aria-label="select test run" ng-model="testRun.selected"  ng-change="setTestRunsSelected(testRun.selected)" style="margin: 0px;">
                    </md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>

        <div  layout="row" layout-align="end center">
            <md-input-container>
                <label>Rows</label>
                <md-select ng-model="loadNumberOfTestRuns" ng-change="updateNumberOfTestRuns()">
                    <md-option ng-repeat="numberOfRowOption in numberOfRowOptions" value="{{numberOfRowOption.value}}">
                        {{numberOfRowOption.value}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div flex="50" class="container" ng-if="loading">
            <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
            <div class="bottom-block">
                <span>Loading test runs ...</span>
            </div>
        </div>
    </div>
</md-content>
