<section>
    <div class="page-header">
        <h1>Test run summary config</h1>
    </div>
    <md-content>
        <h1>Metric order</h1>
        <!--<md-card>-->
            <div flex="75">
                <table class="table">
                    <!--<colgroup>-->
                        <!--<col span="1" style="width: 20%;">-->
                        <!--<col span="1" style="width: 20%;">-->
                        <!--<col span="1" style="width: 50%;">-->
                        <!--<col span="1" style="width: 5%;">-->
                        <!--<col span="1" style="width: 5%;">-->
                    <!--</colgroup>-->
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="metric in metrics | testRunSummary" class="hover-row">
                        <td class="pointer">
                            {{metric.alias}}
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-arrow-up" data-ng-click="moveUp(metric)" ng-if="$index > 0" title="Move up"></i>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
    </md-content>
</section>
