<section>
    <div class="page-header">
        <h1>Edit Event</h1>
    </div>
    <!--<div class="col-md-12">-->
    <form name="eventForm" autocomplete="off" >
        <div layout="column">
            <div layout="column">
                <div layout="row" layout-align="space-between center">
                    <md-input-container
                            md-is-error="eventForm.eventTimestamp.$invalid && (eventForm.$submitted || eventForm.eventTimestamp.$dirty || triedToSubmit === true)"
                            flex>
                        <label>Timestamp</label>
                        <input name="eventTimestamp" type="text" ng-model="event.eventTimestamp | date:'EEEE, dd-M-yyyy H:mm:ss'" required/>

                        <div ng-messages="eventForm.eventTimestamp.$error"
                             ng-if="eventForm.$submitted || eventForm.productName.$touched || triedToSubmit === true">
                            <div ng-message="required">Timestamp is required.</div>
                        </div>
                    </md-input-container>

                    <date-time-picker timestamp="event.eventTimestamp"></date-time-picker>

                </div>
                <md-input-container
                        md-is-error="eventForm.eventProductName.$invalid && (eventForm.$submitted || eventForm.eventProductName.$dirty || triedToSubmit === true)"
                        flex>
                    <label>Product</label>
                    <input name="eventProductName" ng-model="event.productName" required>

                    <div ng-messages="eventForm.eventProductName.$error"
                         ng-if="eventForm.$submitted || eventForm.eventProductName.$touched || triedToSubmit === true">
                        <div ng-message="required">Product name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container
                        md-is-error="eventForm.eventDashboardName.$invalid && (eventForm.$submitted || eventForm.eventDashboardName.$dirty || triedToSubmit === true)"
                        flex>
                    <label>Dashboard</label>
                    <input name="eventDashboardName" ng-model="event.dashboardName" required>

                    <div ng-messages="eventForm.eventDashboardName.$error"
                         ng-if="eventForm.$submitted || eventForm.eventDashboardName.$touched || triedToSubmit === true">
                        <div ng-message="required">Dashboard name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container
                        md-is-error="eventForm.eventTestRunId.$invalid && (eventForm.$submitted || eventForm.eventTestRunId.$dirty || triedToSubmit === true)"
                        flex>
                    <label>Testrun ID</label>
                    <input autocomplete="off" name="eventTestRunId" ng-model="event.testRunId"
                           typeahead="testRunId for testRunId in testRunIds | filter:$viewValue | limitTo:8" required>

                    <div ng-messages="eventForm.eventTestRunId.$error"
                         ng-if="eventForm.$submitted || eventForm.eventTestRunId.$touched || triedToSubmit === true">
                        <div ng-message="required">Test run ID is required.</div>
                    </div>
                </md-input-container>
                <md-input-container
                        md-is-error="eventForm.eventDescription.$invalid && (eventForm.$submitted || eventForm.eventDescription.$dirty || triedToSubmit === true)"
                        flex>
                    <label>Description</label>
                    <input name="eventDescription" ng-model="event.eventDescription"
                           typeahead="description for description in descriptions | filter:$viewValue | limitTo:8"
                           required>

                    <div ng-messages="eventForm.eventDescription.$error"
                         ng-if="eventForm.$submitted || eventForm.eventDescription.$touched || triedToSubmit === true">
                        <div ng-message="required">Description is required.</div>
                        <div ng-message="server">{{error}}</div>
                    </div>
                </md-input-container>
                <md-input-container flex ng-if="event.eventDescription === 'start' || event.eventDescription === 'end'">
                    <label>CI Build result URL</label>
                    <input ng-model="event.buildResultsUrl">
                </md-input-container>
                <div layout="row">
                    <md-button md-no-ink class="md-primary" data-ng-click="triedToSubmit=true; eventForm.$valid && update()">Submit</md-button>
                    <md-button data-ng-click="cancel()">Cancel</md-button>
                </div>
            </div>
        </div>
    </form>
</section>
