<!--<div data-ng-controller="TestrunsController" data-ng-init="listTestRunsForDashboard()">-->
<div>
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">
        <table class="table">
            <thead>
                <tr>
                    <th>Dashboard</th>
                    <th>Description</th>
                    <th>Benchmark test runs</th>
                    <th>Include ramp up in benchmarks</th>
                    <th>Jenkins integration</th>
                    <th>Jenkins job</th>
                    <th>Trends</th>
                    <th>
                        <i class="glyphicon glyphicon-plus" ui-sref="addDashboard({productName: product.name})""></i>
                        <md-tooltip>
                            Add dashboard
                        </md-tooltip>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="product.dashboards.length === 0">
                    <td>No dashboards found for this product, click <a ui-sref="addDashboard({productName: product.name})">here</a> to add one</td>
                </tr>
                <tr ng-repeat="dashboard in product.dashboards" class="hover-row dashboard-row"  >
                    <td class="pointer" data-ng-click="viewDashboard(dashboard)" >
                        {{dashboard.name}}
                        <md-tooltip>
                            Open dashboard
                        </md-tooltip>
                    </td>
                    <td class="pointer" data-ng-click="viewDashboard(dashboard)">
                        {{dashboard.description}}
                        <md-tooltip>
                            Open dashboard
                        </md-tooltip>
                    </td>

                    <td class="pointer">
                        <md-switch class="md-primary" md-no-ink aria-label="Enable benchmarking" ng-model="dashboard.useInBenchmark" ng-change="updateDashboard(dashboard)"></md-switch>
                        <md-tooltip>
                            Click to toggle
                        </md-tooltip>
                    </td>
                    <td class="pointer">
                        <md-switch class="md-primary" md-no-ink aria-label="Include ramp up in benchmarks" ng-model="dashboard.includeRampUp" ng-change="updateDashboard(dashboard)"></md-switch>
                        <md-tooltip>
                            Click to toggle
                        </md-tooltip>
                    </td>
                    <td class="pointer">
                        <md-switch class="md-primary" md-no-ink aria-label="Jenkins integrations enabled" ng-model="dashboard.triggerTestRunsWithJenkins" ng-change="toggleJenkinsIntegration(dashboard)"></md-switch>
                        <md-tooltip>
                            Click to toggle
                        </md-tooltip>
                    </td>
                    <td>
                        {{dashboard.jenkinsJobName}}
                    </td>
                    <td>
                        <!--<md-button  class="md-icon-button" data-ng-click="viewTrends(dashboard)">-->
                            <md-icon md-svg-src="images/assets/ic_timeline_black_24px.svg" data-ng-click="viewTrends(dashboard)"></md-icon>
                            <md-tooltip>
                                View trends
                            </md-tooltip>
                        <!--</md-button>-->
                    </td>
                    <td>
                        <md-menu style="padding-top: 0px; padding-bottom: 0px;">
                            <div aria-label="Open dashboard menu" class="md-icon-button"
                                 ng-click="openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_24px.svg" ng-click="openMenu($mdOpenMenu, $event)"></md-icon>
                                <md-tooltip>
                                    Dashboard menu
                                </md-tooltip>
                            </div>
                            <md-menu-content width="4" height="10">
                                
                                <md-menu-item >
                                    <md-button class="targets-io-menu-button" data-ng-click="editDashboard(dashboard)">
                                        <md-icon md-svg-src="images/assets/ic_settings_black_24px.svg"
                                                 md-menu-align-target></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button class="targets-io-menu-button" data-ng-click="clone(dashboard)">
                                        <md-icon md-svg-src="images/assets/ic_content_copy_black_36px.svg"></md-icon>
                                        Clone dashboard
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button class="targets-io-menu-button" data-ng-click="manageTags(dashboard)">
                                        <md-icon md-svg-src="images/assets/ic_local_offer_black_36px.svg"></md-icon>
                                        Manage tags
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider ></md-menu-divider>
                                <md-menu-item >
                                    <md-button class="targets-io-menu-button"  data-ng-click="openDeleteDashboardModal('', dashboard)">
                                        <md-icon md-svg-src="images/assets/ic_delete_black_36px.svg"></md-icon>
                                        Delete dashboard
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider ></md-menu-divider>
                                <md-menu-item >
                                    <md-button class="targets-io-menu-button" data-ng-click="addTemplate(dashboard)">
                                        <md-icon md-svg-src="images/assets/ic_content_copy_black_36px.svg"></md-icon>
                                        Create template
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider ></md-menu-divider>
                                <md-menu-item >
                                    <md-button class="targets-io-menu-button"  data-ng-click="addTestRun(dashboard)">
                                        <md-icon md-svg-src="images/assets/testrun.svg"></md-icon>
                                        Add Test Run
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
