<div data-ng-controller="DashboardsController">
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">

        <div flex layout="row">
            <div layout="row" flex="33">
                <md-input-container style="margin: 0px;" flex>
                    <label>Filter metrics</label>
                    <input ng-model="vm.metricFilter">
                </md-input-container>
                <md-icon ng-if="vm.metricFilter && vm.metricFilter !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                         data-ng-click="vm.clearMetricFilter()"></md-icon>
            </div>
            <div flex="66"  layout="row"  layout-align="end center">

                <md-menu>
                    <md-button  aria-label="Metric menu" class="md-icon-button"
                               ng-click="vm.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_24px.svg"></md-icon>
                        <md-tooltip>
                            Selected metrics menu
                        </md-tooltip>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-menu flex>
                                <md-button class="targets-io-menu-button" flex ng-class="{'disabled': !vm.metricSelected === false }" aria-label="Copy to dashboard"
                                     ng-click="vm.metricSelected && vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon style="margin-right:16px;" md-svg-src="images/assets/ic_content_copy_black_24px.svg"></md-icon>
                                    Copy to dashboard
                                    <md-tooltip>
                                        Copy selected metrics to dashboard
                                    </md-tooltip>

                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="dashboard in vm.dashboardsForProduct">
                                        <md-button class="targets-io-menu-button" data-ng-click="vm.copyMetricsToDashboard(dashboard)">
                                            {{dashboard.name}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>

                        <md-menu-item>
                            <md-button class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.resetAllBenchmarks()" >

                                <md-icon md-menu-origin md-svg-src="images/assets/ic_cached_black_24px.svg"></md-icon>
                                RESET BENCHMARK VALUES
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button  class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.metricsInTestRunSummary(true)"  >

                                <md-icon md-menu-origin md-svg-src="images/assets/ic_check_black_36px.svg"></md-icon>
                                ADD TO TEST RUN SUMMARY
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button  class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.metricsInTestRunSummary(false)"  >

                                <md-icon md-menu-origin md-svg-src="images/assets/ic_clear_black_36px.svg"></md-icon>
                                REMOVE FROM TEST RUN SUMMARY
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.openDeleteSelectedMetricsModal('')" " >

                            <md-icon md-menu-origin md-svg-src="images/assets/ic_delete_forever_black_24px.svg"></md-icon>
                            DELETE
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>



            </div>
        </div>
        <div  flex="25" class="md-padding" layout="column" data-ng-if="vm.progress !== undefined" layout-align="center right">
            <md-progress-linear  md-mode="determinate" value="{{vm.progress}}"></md-progress-linear>
            <div>Updating test runs ... {{vm.progress}}%</div>
        </div>
        <table class="table">
            <colgroup>
                <col span="1" style="width: 47%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 1%;">
                <col span="1" style="width: 2%;">
            </colgroup>
            <thead>
                <tr>
                    <th ng-click="vm.sortType = 'alias'; vm.sortReverse = !vm.sortReverse">
                        Metric
                        <span ng-show="vm.sortType == 'alias' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'alias' && vm.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th ng-click="vm.sortType = 'tags[0].text'; vm.sortReverse = !vm.sortReverse">
                        Tags
                        <span ng-show="vm.sortType == 'tags[0].text' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'tags[0].text' && vm.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th ng-click="vm.sortType = 'requirementValue'; vm.sortReverse = !vm.sortReverse">
                        Requirement
                        <span ng-show="vm.sortType == 'requirementValue' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'requirementValue' && vm.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th ng-click="vm.sortType = 'benchmarkValue'; vm.sortReverse = !vm.sortReverse">
                        Allowed deviation
                        <span ng-show="vm.sortType == 'benchmarkValue' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'benchmarkValue' && vm.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th  ng-click="vm.sortType = 'includeInSummary'; vm.sortReverse = !vm.sortReverse">
                        Testrun summary
                        <span ng-show="vm.sortType == 'includeInSummary' && !vm.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.sortType == 'includeInSummary' && vm.sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th>
                        <md-menu>
                            <md-button aria-label="Merge metrics from template" class="md-icon-button" style="padding-bottom: 0px;"
                                       ng-click="vm.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-svg-src="images/assets/ic_add_black_24px.svg"></md-icon>
                                <md-tooltip>
                                    Add metrics
                                </md-tooltip>
                            </md-button>
                            <md-menu-content >
                                <!--<md-menu-item>-->
                                    <!--<md-menu width="4">-->
                                        <!--<md-button class="targets-io-menu-button" aria-label="Merge metrics from template"-->
                                                   <!--ng-click="vm.openMenu($mdOpenMenu, $event)">-->
                                            <!--<md-icon style="margin-right:16px;" md-menu-origin md-svg-src="images/assets/ic_input_black_24px.svg"></md-icon>-->
                                            <!--FROM TEMPLATE-->
                                        <!--</md-button>-->
                                        <!--<md-menu-content>-->
                                            <!--<md-menu-item ng-repeat="template in vm.templates">-->
                                                <!--<md-button data-ng-click="vm.mergeTemplate($index)">-->
                                                    <!--{{template.name}}: {{template.description}}-->
                                                <!--</md-button>-->
                                            <!--</md-menu-item>-->
                                        <!--</md-menu-content>-->
                                    <!--</md-menu>-->
                                    <!---->
                                <!--</md-menu-item>-->
                                <md-menu-item ng-if="vm.templates.length > 0" >
                                    <md-button class="targets-io-menu-button" data-ng-click="vm.addMetricFromTemplate()">
                                        <md-icon md-menu-origin md-svg-src="images/assets/ic_input_black_24px.svg"></md-icon>
                                        FROM TEMPLATE
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button class="targets-io-menu-button" data-ng-click="vm.addMetric()">
                                        <md-icon md-menu-origin md-svg-src="images/assets/ic_add_black_24px.svg"></md-icon>
                                        CUSTOM METRIC
                                    </md-button>
                                </md-menu-item>
                                <!--<md-menu-item ng-show="vm.showTemplates">-->
                                    <!--<md-autocomplete-->
                                                     <!--md-selected-item="template"-->
                                                     <!--md-search-text="templateSearchText"-->
                                                     <!--md-items="template in vm.filterTemplates(templateSearchText)"-->
                                                     <!--md-selected-item-change="vm.mergeTemplate(template)"-->
                                                     <!--md-item-text="vm.template.name"-->
                                                     <!--md-min-length="0"-->
                                                     <!--md-autoselect="true"-->
                                                     <!--md-no-cache="true"-->
                                                     <!--placeholder="Template">-->
                                        <!--<md-item-template>-->
                                            <!--<span>{{template.name}}: {{template.description}}</span>-->
                                        <!--</md-item-template>-->
                                        <!--<md-not-found>-->
                                            <!--No templates matching "{{templateSearchText}}" were found.-->
                                        <!--</md-not-found>-->
                                    <!--</md-autocomplete>-->
                                <!--</md-menu-item>-->
                            </md-menu-content>
                        </md-menu>

                    </th>
                    <th>
                        <md-checkbox md-no-ink aria-label="select all metrics" ng-model="vm.allMetricsSelected" ng-change="vm.setAllMetricsSelected(vm.allMetricsSelected)" style="margin: 0px;">
                        </md-checkbox>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="metric in vm.filteredMetrics | orderBy:vm.sortType:vm.sortReverse" class="hover-row">
                <td ng-click="vm.editMetric(metric._id)">
                   {{metric.alias}}
                </td>
                <td ng-click="vm.editMetric(metric._id)">
                    <span ng-repeat="tag in metric.tags track by $index">{{tag.text}}
                        <span data-ng-show="!$last">, </span>
                    </span>
                </td>
                <td ng-click="vm.editMetric(metric._id)"><span>{{metric.requirementOperator}} {{metric.requirementValue}}</span></td>
                <td ng-click="vm.editMetric(metric._id)"><span data-ng-if="metric.benchmarkOperator">{{metric.benchmarkOperator === '>'?'+':'-'}} {{metric.benchmarkValue}}</span>
                </td>
                <td>
                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg" ng-if="metric.includeInSummary === true"></md-icon>
                </td>
                <td ng-click="vm.editMetric(metric._id)">
                </td>
                <td>
                    <md-checkbox md-no-ink aria-label="select metric" ng-model="metric.selected"  ng-change="vm.setMetricsSelected(metric.selected)" style="margin: 0px;">
                    </md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-if="vm.filteredMetrics.length >20" style="margin-top: 30px;" flex layout="row">
            <div layout="row" flex="33">
                <md-input-container style="margin: 0px;" flex>
                    <label>Filter metrics</label>
                    <input ng-model="vm.metricFilter">
                </md-input-container>
                <md-icon ng-if="vm.metricFilter && vm.metricFilter !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                         data-ng-click="vm.clearMetricFilter()"></md-icon>
            </div>
            <div flex="66"  layout="row"  layout-align="end center">

                <md-menu>
                    <md-button  aria-label="Metric menu" class="md-icon-button"
                                ng-click="vm.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_24px.svg"></md-icon>
                        <md-tooltip>
                            Selected metrics menu
                        </md-tooltip>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-menu flex>
                                <md-button class="targets-io-menu-button" flex ng-class="{'disabled': !vm.metricSelected === false }" aria-label="Copy to dashboard"
                                           ng-click="vm.metricSelected && vm.openMenu($mdOpenMenu, $event)">
                                    <md-icon style="margin-right:16px;" md-svg-src="images/assets/ic_content_copy_black_24px.svg"></md-icon>
                                    Copy to dashboard
                                    <md-tooltip>
                                        Copy selected metrics to dashboard
                                    </md-tooltip>

                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="dashboard in vm.dashboardsForProduct">
                                        <md-button class="targets-io-menu-button" data-ng-click="vm.copyMetricsToDashboard(dashboard)">
                                            {{dashboard.name}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>

                        <md-menu-item>
                            <md-button class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.resetAllBenchmarks()" >

                                <md-icon md-menu-origin md-svg-src="images/assets/ic_cached_black_24px.svg"></md-icon>
                                RESET BENCHMARK VALUES
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button  class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.metricsInTestRunSummary(true)"  >

                                <md-icon md-menu-origin md-svg-src="images/assets/ic_check_black_36px.svg"></md-icon>
                                ADD TO TEST RUN SUMMARY
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button  class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.metricsInTestRunSummary(false)"  >

                                <md-icon md-menu-origin md-svg-src="images/assets/ic_clear_black_36px.svg"></md-icon>
                                REMOVE FROM TEST RUN SUMMARY
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="targets-io-menu-button" ng-class="{'disabled': vm.metricSelected === false }"  ng-click="vm.metricSelected && vm.openDeleteSelectedMetricsModal('')" " >

                            <md-icon md-menu-origin md-svg-src="images/assets/ic_delete_forever_black_24px.svg"></md-icon>
                            DELETE
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>



            </div>
        </div>

    </div>

</div>
