<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<div layout="column">
    <h4>
        <a data-ng-href="/#!/browse/{{product.name}}">{{product.name}}</a>  / requirements
    </h4>
    <h2 class="md-display-1">Requirements</h2>
        <div class="md-padding">
        <md-menu>
            <md-button aria-label="Open edit menu" class="md-icon-button"
                       ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-src="images/assets/ic_library_add_black_36px.svg"></md-icon>
                <md-tooltip>
                    Clone requirements from other product
                </md-tooltip>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="product in productsWithRequirements">
                    <md-button data-ng-click="cloneRequirements(product)">
                        {{product.product}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div layout="row">
        <div flex="90"></div>
        <div flex="10">
            <md-button ng-if="requirementSelected" md-no-ink class="md-accent" ng-click="openDeleteSelectedRequirementsModal('')" style="margin: 0px;" >Delete selected</md-button>
        </div>
    </div>
    <table class="table">
        
        <thead>
        <tr>
            <th>Stakeholder</th>
            <th>Requirement</th>
            <th>Related dashboard(s)</th>

            <th><i class="glyphicon glyphicon-plus" data-ng-click="addRequirement()"></i></th>
            <th>
                <md-checkbox md-no-ink aria-label="select all requirements" ng-model="allRequirementsSelected" ng-change="setAllRequirementsSelected(allRequirementsSelected)" style="margin: 0px;">
                </md-checkbox>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="requirement in product.requirements" class="hover-row">
            <td class="pointer" data-ng-click="editRequirement($index)">{{requirement.stakeholder}}</td>
            <td class="pointer" data-ng-click="editRequirement($index)">{{requirement.description}}</td>
            <td class="pointer" data-ng-click="editRequirement($index)">
                <div layout="column">
                    <p style="padding-bottom: 1px;" ng-repeat="dashboard in requirement.relatedDashboards">{{dashboard}}</p>
                </div>
            </td>
            <td></td>
            <td>
                <md-checkbox md-no-ink aria-label="select requirement" ng-model="requirement.selected"  ng-change="setRequirementSelected(requirement.selected)" style="margin: 0px;">
                </md-checkbox>
            </td>
        </tr>
        </tbody>
    </table>
</div>

