<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<md-content layout="column">

    <div layout="row" layout-align="space-between center">
        <span>
            <a data-ng-href="/#!/browse/{{product.name}}/">{{product.name}} / RELEASES </a>  /  {{product.productRelease}}
        </span>
        <div layout="row" layout-align="end center">
            <div id="summary-buttons" layout="row">
                <md-button  ng-if="editMode === true" md-no-ink class="md-primary" data-ng-click="addLink()">Add link</md-button>
                <md-button  ng-if="editMode === true && releaseSaved === false" md-no-ink class="md-primary" data-ng-click="submitProductRelease()">Save</md-button>
                <md-button  ng-if="editMode === true && releaseSaved === true && updated === true;" md-no-ink class="md-primary" data-ng-click="submitProductRelease()">Update</md-button>
                <md-button ng-if="releaseSaved === true" class="md-warn" data-ng-click="openDeleteModal('', product)">Discard</md-button>

            </div>

                <md-switch class="md-primary" md-no-ink aria-label="Edit mode" ng-model="editMode"  ng-class="{'switch-label-disabled': editMode === false }">
                Edit
            </md-switch>
        </div>
    </div>
    <div layout="row">
        <div flex="50">
        <h3>Release info</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Product</td>
                    <td>{{product.name}}</td>
                <tr>
                <tr>
                    <td>Product release</td>
                    <td>{{product.productRelease}}</td>
                <tr ng-repeat="link in product.releaseLinks">
                    <td>{{link.description}}</td>
                    <td>
                        <a ng-if="!link.openInNewTab" ng-href="{{link.url}}">{{link.linkText}}</a>
                        <a ng-if="link.openInNewTab" target="_blank" ng-href="{{link.url}}">{{link.linkText}}</a>
                    </td>
                    <td ng-if="editMode === true">
                        <md-icon style="margin-bottom: 5px;"  md-svg-src="images/assets/ic_clear_black_36px.svg"
                                 data-ng-click="removeLink($index)">

                        </md-icon>
                    </td>
                </tr>


            </tbody>
        </table>
        </div>
    </div>



    <h3>Release test runs</h3>

    <div  style="margin-bottom: 5px;" ng-repeat="testRunIndexItem in testRunIndexItems | orderBy:'-end':true">
        <a class="md-padding" href="" ng-click="scrollTo(testRunIndexItem.testRunId)">{{testRunIndexItem.description}}</a><br/>
    </div>




<md-content ng-repeat="testRun in product.releaseTestRuns track by $index">


    <release-testrun-summary ng-attr-id="{{testRun.testRunId}}" testrun="testRun" index="$index" productrequirements="testRun.requirements" edit="editMode"></release-testrun-summary>

    <br/>
    <md-divider  ng-if="!$last"></md-divider>

</md-content>

