<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<md-content layout="column">
    <div layout="row" layout-align="end center">
        <div id="summary-buttons" layout="row">
            <!--<md-button  ng-if="editMode === true && releaseSaved === false" md-no-ink class="md-primary" data-ng-click="saveproductRelease()">Save</md-button>-->
            <!--<md-button  ng-if="editMode === true && releaseSaved === true" md-no-ink class="md-primary" data-ng-click="updateproductRelease()">Update</md-button>-->
            <md-button ng-if="editMode === true && releaseSaved === true" class="md-warn" data-ng-click="openDeleteModal('', product)">Discard</md-button>

        </div>

        <md-switch class="md-primary" md-no-ink aria-label="Edit mode" ng-model="editMode" ng-change="submitProductRelease()" ng-class="{'switch-label-disabled': editMode === false }">
            Edit
        </md-switch>
    </div>
    <div layout="row">
        <div flex="50">
        <h3>Release info</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Product</td>
                    <td>{{product.name}}</td>
                <tr>
                <tr>
                    <td>Product release</td>
                    <td>{{product.productRelease}}</td>
                <tr ng-if="product.productRelease.date">
                    <td>Tests started</td>
                    <td>{{product.productRelease.date | date:'EEEE, dd-M-yyyy'}}</td>
                </tr>


            </tbody>
        </table>
        </div>
    </div>



    <h3>Release test runs</h3>

    <div  style="margin-bottom: 5px;" ng-repeat="testRunIndexItem in testRunIndexItems | orderBy:'-end':true">
        <a class="md-padding" href="" ng-click="scrollTo(testRunIndexItem.testRunId)">{{testRunIndexItem.description}}</a><br/>
    </div>




<md-content ng-repeat="testRun in product.releaseTestRuns track by $index">



    <!--<md-content >-->

        <!--<div class="md-padding" flex="75">-->
            <!--<h4>Related product requirement(s)</h4>-->
            <!--<table class="table">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Stakeholder</th>-->
                    <!--<th>Requirement</th>-->
                    <!--<th>Result</th>-->

                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="requirement in testRun.requirements">-->
                    <!--<td>{{requirement.stakeholder}}</td>-->
                    <!--<td>{{requirement.description}}</td>-->
                    <!--<td class="pointer center"  ng-model="requirement.result">-->
                        <!--<span ng-if="editMode === true" ng-class="requirement.result === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'"-->
                              <!--data-ng-click="toggleRequirementResult($parent.$index, $index)"  >-->
                        <!--</span>-->
                        <!--<span ng-if="editMode === false" ng-class="requirement.result === true ? 'fa-lg fa fa-check-circle-o text-success center' :  'fa-lg fa fa-exclamation-circle text-danger center'">-->
                        <!--</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</md-content>-->

    <release-testrun-summary ng-attr-id="{{testRun.testRunId}}" testrun="testRun" index="$index" productrequirements="testRun.requirements" edit="editMode"></release-testrun-summary>

</md-content>

