<!--<div data-ng-controller="TestrunsController" data-ng-init="listTestRunsForDashboard()">-->
<div>
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">
        <table class="table">
            <thead>
                <tr>
                    <th>Dashboard</th>
                    <th>Test run ID</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="testRun in testRuns | orderBy:'end':true |  itemsPerPage: showNumberOfTestRuns" class="hover-row" data-ng-click="testRunDetails(testRun.productName, testRun.dashboardName, testRun.testRunId)">
                    <td class="pointer" >{{testRun.dashboardName}}</td>
                    <td class="pointer">{{testRun.testRunId}}</td>
                    <td class="pointer">{{testRun.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                    </td>
                    <td class="pointer">{{testRun.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                    </td>
                    <td class="pointer">{{testRun.humanReadableDuration}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div  layout="row" layout-align="end center">
            <md-input-container ng-hide="(numberOfTestRuns < showNumberOfTestRuns) && (showNumberOfTestRuns === '10')">
                <label>Rows</label>
                <md-select ng-model="showNumberOfTestRuns">
                    <md-option ng-repeat="numberOfRowOption in numberOfRowOptions" value="{{numberOfRowOption.value}}">
                        {{numberOfRowOption.value}}
                    </md-option>
                </md-select>
            </md-input-container>
            <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true">
             </dir-pagination-controls>
        </div>
        <div flex="50" class="container" ng-if="loading">
            <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
            <div class="bottom-block">
                <span>Loading test runs ...</span>
            </div>
        </div>
    </div>
</div>
