<div>
    <div class="page-header">
        <h1>New Metric</h1>
    </div>
    <form name="metricForm" novalidate>
        <div layout="column">
            <div  class="well">
                <md-input-container layout-fill>
                    <label>Alias</label>
                    <input ng-model="metric.alias">
                </md-input-container>
            </div>
            <div layout="column" class="well">
                <div ng-repeat="target in metric.targets track by $index">
                    <div layout="row" layout-align="end center">
                        <md-input-container flex>
                            <label>Target</label>
                            <input ng-model="metric.targets[$index]">
                        </md-input-container>
                        <create-graphite-query metric="metric" index="$index"></create-graphite-query>
                        <md-icon md-svg-src="images/assets/ic_clear_black_36px.svg" data-ng-click="removeTarget($index)"
                                 data-ng-show="metric.targets.length>1"></md-icon>
                    </div>
                </div>
                <div>
                    <md-button md-no-ink class="md-primary md-raised" data-ng-click="addTarget()">Add target</md-button>
                </div>
            </div>
            <md-input-container flex class="well">
                <!--<label>Alias</label>-->
                <tags-input data-ng-model="metric.tags">
                    <auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>
                </tags-input>
            </md-input-container>
            <div  class="well">
                <div layout="row"  layout-align="start center">
                    <div class="md-padding">
                        <md-input-container >
                            <label>Type</label>
                            <md-select ng-model="metric.type">
                                <md-option ng-repeat="metricType in metricTypes" value="{{metricType}}">
                                    {{metricType}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="md-padding">
                        <md-input-container>
                            <label>Unit</label>
                            <md-select ng-model="metric.unit">
                                <md-option ng-repeat="metricUnit in metricUnits" value="{{metricUnit}}">
                                    {{metricUnit}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start center" class="md-padding">
                        <md-input-container ng-if="metric.unit ==='Custom'">
                            <label>Custom unit</label>
                            <input ng-model="metric.customUnit">
                        </md-input-container>
                        <md-button  ng-if="metric.unit === 'Custom'" md-no-ink class="md-primary md-padding" data-ng-click="addCustomUnit()">
                            Add custom unit
                        </md-button>
                    </div>
                </div>
            </div>
            <div layout="column" class="well">
                <md-checkbox ng-model="enableRequirement" aria-label="Requirements enabled">
                    Requirements enabled
                </md-checkbox>
                <div layout="row">
                    <md-input-container>
                        <label>Requirement</label>
                        <md-select ng-disabled="enableRequirement===false" ng-model="metric.requirementOperator">
                            <md-option value="<">
                                should be lower than
                            </md-option>
                            <md-option value=">">
                                should be higher than
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Value</label>
                        <input ng-model="metric.requirementValue" ng-disabled="enableRequirement===false">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" class="well">
                <md-checkbox ng-model="enableBenchmarking" aria-label="Requirements enabled">
                    Benchmarking enabled
                </md-checkbox>
                <div layout="row">
                    <md-input-container>
                        <label>Benchmark</label>
                        <md-select ng-disabled="enableBenchmarking===false" ng-model="metric.benchmarkOperator">
                            <md-option value=">">
                                allow a positive deviation of
                            </md-option>
                            <md-option value="<">
                                allow a negative deviation of
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Value</label>
                        <input ng-model="metric.benchmarkValue" ng-disabled="enableBenchmarking===false">
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <md-button md-no-ink class="md-primary" data-ng-click="create()">Submit</md-button>
                <md-button data-ng-click="cancel()">Cancel</md-button>
            </div>
        </div>
    </form>
</div>

