<md-menu style="padding-top: 0px; padding-bottom: 0px;">
    <div aria-label="Select value" class="md-icon-button"
         ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-src="images/assets/ic_search_black_36px.svg"></md-icon>
        <md-tooltip>
            Select value
        </md-tooltip>
    </div>
    <md-menu-content width="4">
        <md-menu-item ng-repeat="graphiteTarget in graphiteTargets">
            <md-button ng-click="setTarget($index)">
                {{graphiteTarget.text}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
