<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<div layout="column">
    <div layout="row">
        <div flex="90"></div>
        <div flex="10">
        </div>
    </div>
    <div layout="row" layout-align="start top">
        <div layout="row" flex="33">
            <md-input-container flex>
                <label>Filter metrics</label>
                <input ng-model="filterMetrics">
            </md-input-container>
            <md-icon ng-if="filterMetrics && filterMetrics !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                     data-ng-click="clearMetricFilter()">

            </md-icon>
        </div>
        <div flex="66"  layout="row"  layout-align="end center">
            <md-button style="margin-left: 5px;" ng-class="{'disabled': metricSelected === false }" class="md-accent md-icon-button" ng-click="metricSelected && openDeleteSelectedMetricsModal('')" style="margin: 0px;" >
                <md-tooltip>
                    Delete selected metrics
                </md-tooltip>
                <md-icon md-menu-origin md-svg-src="images/assets/ic_delete_forever_black_24px.svg"></md-icon>
            </md-button>
        </div>

    </div>
    <table class="table">
        <colgroup>
            <col span="1" style="width: 47%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 1%;">
            <col span="1" style="width: 2%;">
        </colgroup>
        <thead>
        <tr>
            <th>
                Metric
            </th>
            <th>
                Tags
            </th>
            <th>Requirement</th>
            <th>Allowed deviation</th>
            <th>
                <i class="glyphicon glyphicon-plus" data-ng-click="addMetric()"></i>
            </th>
            <th>
                <md-checkbox md-no-ink aria-label="select all metrics" ng-model="allMetricsSelected" ng-change="setAllMetricsSelected(allMetricsSelected)" style="margin: 0px;">
                </md-checkbox>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="metric in template.metrics | filter:filterMetrics" class="hover-row">
            <td class="pointer" ng-click="editMetric($index)">
                {{metric.alias}}
            </td>
            <td class="pointer" ng-click="editMetric($index)">
                    <span ng-repeat="tag in metric.tags track by $index">{{tag.text}}<span
                            data-ng-show="!$last">, </span></span>
            </td>
            <td class="pointer" ng-click="editMetric($index)" ><span>{{metric.requirementOperator}} {{metric.requirementValue}}</span></td>
            <td class="pointer" ng-click="editMetric($index)"><span data-ng-if="metric.benchmarkOperator">{{metric.benchmarkOperator === '>'?'+':'-'}} {{metric.benchmarkValue}}</span>
            </td>
            <td></td>
            <td>
                <md-checkbox md-no-ink aria-label="select metric" ng-model="metric.selected"  ng-change="setMetricsSelected(metric.selected)" style="margin: 0px;">
                </md-checkbox>
            </td>
        </tr>
        </tbody>
    </table>
</div>
