<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<div layout="column">
    <div layout="column">
        <h1 class="md-display-1">Templates</h1>
    </div>
    <div layout="row"  layout-align="end center">
        <div >
            <md-button style="margin-left: 5px;" ng-class="{'disabled': templateSelected === false }" class="md-accent md-icon-button" ng-click="templateSelected && openDeleteSelectedTemplatesModal('')" style="margin: 0px;" >
                <md-tooltip>
                    Delete selected variable(s)
                </md-tooltip>
                <md-icon md-menu-origin md-svg-src="images/assets/ic_delete_forever_black_24px.svg"></md-icon>
            </md-button>
        </div>
    </div>

    <table class="table">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 76%;">
            <col span="1" style="width: 2%;">
            <col span="1" style="width: 2%;">
        </colgroup>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>
                <md-menu>
                    <md-button aria-label="Merge metrics from template" class="md-icon-button" style="padding-bottom: 0px;"
                               ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-src="images/assets/ic_add_black_24px.svg"></md-icon>
                        <md-tooltip>
                            Add template
                        </md-tooltip>
                    </md-button>
                    <md-menu-content >
                        <md-menu-item >
                            <md-button class="targets-io-menu-button" data-ng-click="importTemplate()">
                                <md-icon md-menu-origin md-svg-src="images/assets/ic_input_black_24px.svg"></md-icon>
                                IMPORT TEMPLATE
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="targets-io-menu-button" data-ng-click="addTemplate()">
                                <md-icon md-menu-origin md-svg-src="images/assets/ic_add_black_24px.svg"></md-icon>
                                CREATE TEMPLATE
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            <th>
                <md-checkbox md-no-ink aria-label="select all templates" ng-model="allTemplatesSelected" ng-change="setAllTemplatesSelected(allTemplatesSelected)" style="margin: 0px;">
                </md-checkbox>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="template in templates" class="hover-row">
            <td class="pointer" data-ng-click="viewTemplate($index)">{{template.name}}</td>
            <td class="pointer" data-ng-click="viewTemplate($index)">{{template.description}}</td>
            <td></td>
            <td>
                <md-checkbox md-no-ink aria-label="select template" ng-model="template.selected"  ng-change="setTemplatesSelected(template.selected)" style="margin: 0px;">
                </md-checkbox>
            </td>
        </tr>
        </tbody>
    </table>
</div>

