<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<div layout="column">
    <div layout="column">
        <h1 class="md-display-1">Templates</h1>
    </div>
    <div layout="row">
        <div flex="90"></div>
        <div flex="10">
            <md-button ng-if="templateSelected" md-no-ink class="md-accent" ng-click="openDeleteSelectedTemplatesModal('')" style="margin: 0px;" >Delete selected</md-button>
        </div>
    </div>
    <table class="table">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
        </colgroup>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th><i class="glyphicon glyphicon-plus" data-ng-click="addTemplate()"></i></th>
            <th>
                <md-checkbox md-no-ink aria-label="select all templates" ng-model="allTemplatesSelected" ng-change="setAllTemplatesSelected(allTemplatesSelected)" style="margin: 0px;">
                </md-checkbox>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="template in templates">
            <td class="pointer" data-ng-click="viewTemplate($index)">{{template.name}}</td>
            <td class="pointer" data-ng-click="viewTemplate($index)">{{template.description}}</td>
            <td></td>
            <td>
                <md-checkbox md-no-ink aria-label="select template" ng-model="template.selected"  ng-change="setTemplatesSelected(template.selected)" style="margin: 0px;">
                </md-checkbox>
            </td>
        </tr>
        </tbody>
    </table>
</div>

