<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">
        <div layout="column">
            <span class="md-subhead" style="padding-bottom: 20px;"><a data-ui-sref="viewTemplates">TEMPLATES</a>  /  {{template.name}}</span>
            <h1 class="md-display-1">{{template.name}}</h1>

            <h3 class="md-headline">{{template.description}}</h3>

            <div>
                <md-menu>
                    <md-button aria-label="Open edit menu" class="md-icon-button"
                               ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_36px.svg"></md-icon>
                        <md-tooltip>
                            Edit menu
                        </md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button data-ng-click="edit()">
                                <md-icon md-svg-src="images/assets/ic_mode_edit_black_36px.svg"
                                         md-menu-align-target></md-icon>
                                Edit template
                            </md-button>
                        </md-menu-item>
                       <md-menu-item>
                            <md-button  data-ng-click="clone()">
                                <md-icon md-svg-src="images/assets/ic_queue_black_36px.svg"></md-icon>
                                Clone template
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div>
                <md-tabs md-dynamic-height md-selected="selectedIndex">

                    <md-tab label="Variables" ng-click="setTab(0)">
                        <md-content class="md-padding">
                         <template-variables template="template"></template-variables>
                        </md-content>
                    </md-tab>

                    <md-tab label="Metrics" ng-click="setTab(1)">
                        <md-content class="md-padding">
                            <template-metrics template="template"></template-metrics>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </div>
        </div>
    </div>
</div>
