<div data-ng-controller="MetricsController" data-ng-init="initCreateForm()">
    <div class="page-header">
        <h1>New Metric</h1>
    </div>
    <div cg-busy="{promise:updateTestrun,message:'Updating test runs...'}"></div>
    <form name="metricForm" novalidate>
        <div layout="column">
            <div  class="well">
                <md-input-container layout-fill>
                    <label>Alias</label>
                    <input ng-model="metric.alias">
                </md-input-container>
            </div>
            <div layout="column" class="well">
                <div ng-repeat="target in metric.targets track by $index">
                    <div layout="row" layout-align="end center">
                        <md-input-container flex>
                            <label>Target</label>
                            <input ng-model="metric.targets[$index]">
                        </md-input-container>
                        <create-graphite-query target="metric.targets[$index]" index="$index"></create-graphite-query>
                        <md-icon md-svg-src="images/assets/ic_clear_black_36px.svg" data-ng-click="removeTarget($index)"
                                 data-ng-show="metric.targets.length>1"></md-icon>
                    </div>
                </div>
                <div>
                    <md-button md-no-ink class="md-primary md-raised" data-ng-click="addTarget()">Add target</md-button>
                </div>
            </div>
            <md-input-container flex class="well">
                <!--<label>Alias</label>-->
                <tags-input data-ng-model="metric.tags">
                    <auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>
                </tags-input>
            </md-input-container>
            <div  class="well">
                <div layout="row"  layout-align="start center">
                    <div class="md-padding">
                        <md-input-container >
                            <label>Type</label>
                            <md-select ng-model="metric.type">
                                <md-option ng-repeat="metricType in metricTypes" value="{{metricType}}">
                                    {{metricType}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="md-padding">
                        <md-input-container>
                            <label>Unit</label>
                            <md-select ng-model="metric.unit">
                                <md-option ng-repeat="metricUnit in metricUnits" value="{{metricUnit}}">
                                    {{metricUnit}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start center" class="md-padding">
                        <md-input-container ng-if="metric.unit ==='Custom'">
                            <label>Custom unit</label>
                            <input ng-model="metric.customUnit">
                        </md-input-container>
                        <md-button  ng-if="metric.unit === 'Custom'" md-no-ink class="md-primary md-padding" data-ng-click="addCustomUnit()">
                            Add custom unit
                        </md-button>
                    </div>
                </div>
            </div>
            <div layout="column" class="well">
                <md-switch class="md-primary" md-no-ink aria-label="Requirements enabled" ng-model="enableRequirement" ng-class="{'switch-label-disabled': enableRequirement === false }">
                    Requirements
                </md-switch>
                <!--<md-checkbox ng-model="enableRequirement" aria-label="Requirements enabled">-->
                    <!--Requirements enabled-->
                <!--</md-checkbox>-->
                <div layout="row">
                    <md-input-container>
                        <label>Requirement</label>
                        <md-select ng-disabled="enableRequirement === false" ng-model="metric.requirementOperator" >
                            <md-option value="<">
                                should be lower than
                            </md-option>
                            <md-option value=">">
                                should be higher than
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container  flex>
                        <label>Value</label>
                        <input ng-model="metric.requirementValue"  ng-disabled="enableRequirement === false">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" class="well">
                <md-switch class="md-primary" md-no-ink aria-label="Benchmarking enabled" ng-model="enableBenchmarking"  ng-class="{'switch-label-disabled': enableBenchmarking === false }">
                    Benchmarking
                </md-switch>
                <div layout="row">
                    <md-input-container>
                        <label>Benchmark</label>
                        <md-select ng-disabled="enableBenchmarking === false" ng-model="metric.benchmarkOperator">
                            <md-option value=">">
                                allow a positive deviation of
                            </md-option>
                            <md-option value="<">
                                allow a negative deviation of
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Value</label>
                        <input ng-model="metric.benchmarkValue" ng-disabled="enableBenchmarking === false">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" class="well">
                <md-switch class="md-primary" md-no-ink aria-label="Include in test run summary" ng-model="metric.includeInSummary" ng-class="{'switch-label-disabled': metric.includeInSummary === false }">
                    Include in test run summary
                </md-switch>
                <md-input-container class="md-block" flex>
                    <label>Default annotations</label>
                    <textarea name="defaultSummaryText" ng-model="metric.defaultSummaryText" columns="1" md-maxlength="500" rows="10" ng-disabled="metric.includeInSummary === false"></textarea>
                </md-input-container>

            </div>
            <div layout="row">
                <md-button md-no-ink class="md-primary" data-ng-click="create()">Submit</md-button>
                <md-button data-ng-click="cancel()">Cancel</md-button>
            </div>
        </div>
    </form>


    <!--<div class="col-md-12">-->
    <!--<form name="metricForm" class="form-horizontal"  novalidate>-->
    <!--<fieldset>-->
    <!--<div class="form-group well well-sm">-->
    <!--<label class="control-label" for="alias">Alias</label>-->
    <!--<div class="controls">-->
    <!--<input type="text" data-ng-model="metric.alias" id="alias" class="form-control" placeholder="Alias" required>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group well well-sm">-->
    <!--<label class="control-label" for="target" >Targets</label>-->
    <!--<div class="controls" ng-repeat="target in metric.targets track by $index">-->
    <!--<input class="metric-targets" type="text" id="target" data-ng-model="metric.targets[$index]" placeholder="Enter target" required>-->
    <!--<i class="pull-right glyphicon glyphicon-trash" data-ng-click="removeTarget($index)" data-ng-show="metric.targets.length>1"></i>-->
    <!--</div>-->
    <!--<button ng-click="addTarget()">Add target</button>-->
    <!--</div>-->
    <!--<div class="form-group well well-sm">-->
    <!--<label class="control-label">Tags</label>-->
    <!--<tags-input data-ng-model="metric.tags" >-->
    <!--<auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>-->
    <!--</tags-input>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="form-group well well-sm">&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="control-label" for="type">Type</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="controls">&ndash;&gt;-->
    <!--&lt;!&ndash;<select id="type" data-ng-model="metric.type" placeholder="Select type" required>&ndash;&gt;-->
    <!--&lt;!&ndash;<option data-ng-repeat="type in metricTypes" value="{{type}}">{{type}}</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="form-group well well-sm">-->
    <!--<div class="col-lg-3">-->
    <!--<label>Requirement {{enableRequirement}}</label><br/>-->
    <!--<label class="switch switch-success"><input type="checkbox" ng-model="enableRequirement"  ng-true-value="'enabled'" ng-false-value="'disabled'"><i></i></label>-->
    <!--<hr>-->
    <!--</div>-->
    <!--<div class="col-lg-9">-->
    <!--<label ng-disabled="enableRequirement==='disabled'" class="control-label" for="requirementOperator">Should be</label>-->
    <!--<div class="controls">-->
    <!--<select ng-disabled="enableRequirement==='disabled'" id="requirementOperator" data-ng-model="metric.requirementOperator">-->
    <!--<option data-ng-repeat="operator in operatorOptions" value="{{operator.value}}">{{operator.alias}}</option>-->
    <!--</select>-->
    <!--<input ng-disabled="enableRequirement==='disabled'" type="text" id="requirementValue" data-ng-model="metric.requirementValue" placeholder="Enter value" >-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group form-horizontal well well-sm">-->
    <!--<div class="col-lg-3">-->
    <!--<label>Benchmarking {{enableBenchmarking}}</label><br/>-->
    <!--<label class="switch switch-success"><input type="checkbox" ng-model="enableBenchmarking"  ng-true-value="'enabled'" ng-false-value="'disabled'"><i></i></label>-->
    <!--<hr>-->
    <!--</div>-->
    <!--<div class="col-lg-9">-->
    <!--<label ng-disabled="enableBenchmarking==='disabled'" class="control-label" for="benchmarkOperator">Allow a </label>-->
    <!--<div class="controls">-->
    <!--<select ng-disabled="enableBenchmarking==='disabled'" id="benchmarkOperator" data-ng-model="metric.benchmarkOperator" data-ng-init="options[0]">-->
    <!--<option data-ng-repeat="deviation in deviationOptions" value="{{deviation.value}}">{{deviation.alias}}</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<label ng-disabled="enableBenchmarking==='disabled'" class="control-label" for="benchmarkOperator">of </label>-->
    <!--<div class="controls">-->
    <!--<input ng-disabled="enableBenchmarking==='disabled'" id="benchmarkValue" data-ng-model="metric.benchmarkValue" placeholder="Enter value">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>    -->
    <!--<div class="form-group well well-sm">-->
    <!--<button class="btn-primary" data-ng-click="create()" ng-disabled="metricForm.$invalid">Submit</button>-->
    <!--<button class="btn-primary" data-ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
    <!--&lt;!&ndash;<p>Metric: {{metric}}</p>&ndash;&gt;-->
    <!--<div data-ng-show="error" class="text-danger">-->
    <!--<strong data-ng-bind="error"></strong>-->
    <!--</div>-->
    <!--</fieldset>-->
    <!--</form>-->
    <!--</div>-->
</div>

