<div data-ng-controller="MetricsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Metric</h1>
    </div>
    <div cg-busy="{promise:updateTestrun,message:'Updating test runs...'}"></div>
    <form name="metricForm" novalidate>
        <div layout="column">
            <div  class="well">
                <md-input-container layout-fill >
                    <label>Alias</label>
                    <input ng-model="metric.alias">
                </md-input-container>
            </div>
            <div layout="column" class="well">
                <div ng-repeat="target in metric.targets track by $index">
                    <div layout="row" layout-align="end center">
                        <md-input-container flex>
                            <label>Target</label>
                            <input ng-model="metric.targets[$index]">
                        </md-input-container>
                        <create-graphite-query target="metric.targets[$index]" query="'metric'" index="$index"></create-graphite-query>
                        <!--<md-menu style="padding-top: 0px; padding-bottom: 0px;">-->
                            <!--<div aria-label="Select target" class="md-icon-button"-->
                                 <!--ng-click="openMenu($mdOpenMenu, $event, target)">-->
                                <!--<md-icon md-menu-origin md-svg-src="images/assets/ic_search_black_36px.svg"></md-icon>-->
                                <!--<md-tooltip>-->
                                    <!--Select target-->
                                <!--</md-tooltip>-->
                            <!--</div>-->


                            <!--<md-menu-content width="4" id="targets-menu-content">-->
                                <!--<md-menu-item ng-repeat="graphiteTarget in graphiteTargets">-->
                                    <!--<md-button md-menu-disable-close="md-menu-disable-close"  ng-click="getTargets(target, graphiteTarget.id, $parent.$index)">-->
                                        <!--{{graphiteTarget.text}}-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                            <!--</md-menu-content>-->
                        <!--</md-menu>-->
                        <md-icon md-svg-src="images/assets/ic_clear_black_36px.svg" data-ng-click="removeTarget($index)"
                                 data-ng-show="metric.targets.length>1"></md-icon>
                    </div>
                </div>
                <div>
                    <md-button md-no-ink class="md-primary md-raised" data-ng-click="addTarget()">Add target</md-button>
                </div>
            </div>
            <md-input-container flex class="well">
                <tags-input data-ng-model="metric.tags">
                    <auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>
                </tags-input>
            </md-input-container>
            <div  class="well">
                <md-input-container flex >
                    <label>Type</label>
                    <md-select ng-model="metric.type">
                        <md-option ng-repeat="metricType in metricTypes" value="{{metricType}}">
                            {{metricType}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" class="well">
                <md-switch class="md-primary" md-no-ink aria-label="Requirements enabled" ng-model="enableRequirement" ng-class="{'switch-label-disabled': enableRequirement === false }">
                    Requirements
                </md-switch>
                <div layout="row">
                    <md-input-container>
                        <label>Requirement</label>
                        <md-select ng-disabled="enableRequirement===false" ng-model="metric.requirementOperator">
                            <md-option value="<">
                                should be lower than
                            </md-option>
                            <md-option value=">">
                                should be higher than
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Value</label>
                        <input ng-model="metric.requirementValue" ng-disabled="enableRequirement===false">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" class="well">
                <md-switch class="md-primary" md-no-ink aria-label="Benchmarking enabled" ng-model="enableBenchmarking"  ng-class="{'switch-label-disabled': enableBenchmarking === false }">
                    Benchmarking
                </md-switch>
                <div layout="row">
                    <md-input-container>
                        <label>Benchmark</label>
                        <md-select ng-disabled="enableBenchmarking===false" ng-model="metric.benchmarkOperator">
                            <md-option value=">">
                                allow a positive deviation of
                            </md-option>
                            <md-option value="<">
                                allow a negative deviation of
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Value</label>
                        <input ng-model="metric.benchmarkValue" ng-disabled="enableBenchmarking===false">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" class="well">
                <md-switch class="md-primary" md-no-ink aria-label="Include in test run summary" ng-model="metric.includeInSummary" ng-class="{'switch-label-disabled': metric.includeInSummary === false }">
                    Include in test run summary
                </md-switch>
                <md-input-container class="md-block" flex>
                    <label>Default annotations</label>
                    <textarea name="defaultSummaryText" ng-model="metric.defaultSummaryText" columns="1" md-maxlength="500" rows="10" ng-disabled="metric.includeInSummary === false"></textarea>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button md-no-ink class="md-primary" data-ng-click="update()">Submit</md-button>
                <md-button data-ng-click="cancel()">Cancel</md-button>
                <md-button class="md-primary" data-ng-click="clone()">Clone</md-button>
                <md-button class="md-warn" data-ng-click="openDeleteConfirmation()">Delete metric</md-button>

            </div>
        </div>
    </form>
</div>
