<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
<div class="row">
    <div class="col-lg-4">
        <div ng-if="showDialog" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Running test</h3>
            </div>
            <div class="panel-body">
                <h4>{{runningTest.testRunId}}</h4>
                <h5>Start: {{runningTest.eventTimestamp | date:'EEEE, dd-M-yyyy H:mm:ss'}}</h5>
                 <span class="pull-left">
                     <button type="button" class="btn btn-primary" ng-click="openSendEndEventModal('')">Send end event</button>
                 </span>
                 <span class="pull-right">
                     <button type="button" class="btn btn-danger" ng-click="openDeleteEventModal('')">Delete start event</button>
                 </span>
            </div>
        </div>
    </div>
</div>
