<div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>

<div layout="column" ng-if="showDialog">

    <md-card>
        <md-toolbar class="md-accent" style="color:white;">

            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" data-ng-click="viewLiveGraphs()">
                    <md-icon md-svg-src="images/assets/ic_live_tv_white_36px.svg"></md-icon>
                    <md-tooltip>
                        View live graphs
                    </md-tooltip>
                </md-button>

                <h4 class="md-flex">RUNNING TEST (since: {{runningTest.eventTimestamp | date:'EEEE, dd-M-yyyy H:mm:ss'}})</h4>

            </div>
        </md-toolbar>

        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        <div layout="column">
            <div layout="row">
                <md-button flex class="md-primary" data-ng-click="openSendEndEventModal('')">Send end event</md-button>
                <md-button flex class="md-danger" data-ng-click="openDeleteEventModal('')">Delete start event
                </md-button>
            </div>
        </div>


    </md-card>
</div>
