<md-dialog draggable class="pointer" aria-label="Annotations">
    <md-toolbar class="md-padding" layout-align="center center"><h4>SET PRODUCT RELEASE</h4></md-toolbar>
    <div layout="column"
    <md-dialog-content class="md-padding">
        <md-input-container class="md-block" flex>
            <label>Product release</label>
            <input ng-model="productRelease" id="productReleaseInput" share-graph-url/>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <div layout="row" layout-align="space-between" flex>
            <md-button ng-click="closeDialogCancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="closeDialogOK()" class="md-primary">
                OK
            </md-button>
        </div>
    </md-dialog-actions>
    </div>
</md-dialog>
