<!--<div data-ng-controller="TestrunsController" data-ng-init="listTestRunsForDashboard()">-->
<div data-ng-controller="TestrunsController">
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">

        <div layout="row">
            <div flex="90"></div>
            <div flex="10">
                <md-button ng-if="testRunSelected" md-no-ink class="md-accent" ng-click="openDeleteSelectedTestRunsModal('')" style="margin: 0px;" >Delete selected</md-button>
            </div>
        </div>
        <md-checkbox ng-model="completedTestRunsOnly" aria-label="Show completed test runs only">
            Show completed test runs only
        </md-checkbox>
        <table class="table">
            <thead>
            <tr>
                <th>Test run ID</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th data-ng-if="showBenchmarks">Requirements</th>
                <th data-ng-if="showBenchmarks">Previous Build</th>
                <th data-ng-if="showBenchmarks">Fixed Baseline</th>
                <th data-ng-if="showBenchmarks">
                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg"></md-icon>
                </th>
                <th></th>
                <th>
                    <md-checkbox md-no-ink aria-label="select all test runs" ng-model="allTestRunsSelected" ng-change="setAllTestRunsSelected(allTestRunsSelected)" style="margin: 0px;">
                    </md-checkbox>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr dir-paginate="testRun in testRuns | orderBy:'end':true | filter: {completed: completedTestRunsOnly ? true : '' } | itemsPerPage: showNumberOfTestRuns" total-items="totalNumberOftestRuns"
                ng-class="{'warning': (testRun.testRunId === dashboard.baseline && dashboard.useInBenchmark === true), 'hover-row': true, 'running-test' : (runningTest && $index < numberOfRunningTests)}" >
                <td class="pointer" data-ng-click="(runningTest && $index < numberOfRunningTests) ? liveGraphs(testRun) : testRunDetails(testRun)" >{{testRun.testRunId}}</td>
                <td class="pointer" data-ng-click="(runningTest && $index < numberOfRunningTests) ? liveGraphs(testRun) : testRunDetails(testRun)">{{testRun.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                </td>
                <td class="pointer" data-ng-click="(runningTest && $index < numberOfRunningTests) ? liveGraphs(testRun) : testRunDetails(testRun)">{{testRun.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                    <md-progress-linear data-ng-if="runningTest && $index < numberOfRunningTests" flex md-mode="indeterminate"></md-progress-linear>

                </td>
                <td class="pointer" data-ng-click="(runningTest && $index < numberOfRunningTests) ? liveGraphs(testRun) : testRunDetails(testRun)">{{testRun.humanReadableDuration}}
                </td>
                <td data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)" header-class="text-center" class="text-center pointer"
                    data-ng-click="testRunRequirements($index)"><span
                        ng-class="testRun.meetsRequirement === true ? 'fa-lg fa fa-check-circle-o text-success center' : (testRun.meetsRequirement === false ? 'fa-lg fa fa-exclamation-circle text-danger center' : (testRun.meetsRequirement === null ? 'fa-lg fa fa-times-circle text-alert center': 'fa-lg fa fa-refresh fa-spin text-alert center' ))"></span>
                </td>
                <td data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)" header-class="text-center" title="{{testRun.previousBuild}}"
                    class="text-center pointer" data-ng-click="testRunPreviousBuildBenchmark($index)"><span
                        ng-class="testRun.benchmarkResultPreviousOK === true ? 'fa-lg fa fa-check-circle-o text-success center' : (testRun.benchmarkResultPreviousOK === false ? 'fa-lg fa fa-exclamation-circle text-danger center' : (testRun.benchmarkResultPreviousOK === null ? 'fa-lg fa fa-times-circle text-alert center': 'fa-lg fa fa-refresh fa-spin  text-alert center' ))"></span>
                </td>
                <td data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)" header-class="text-center" title="{{testRun.baseline}}"
                    class="text-center pointer" data-ng-click="testRunFixedBaselineBenchmark($index)"><span
                        ng-class="testRun.benchmarkResultFixedOK === true ? 'fa-lg fa fa-check-circle-o text-success center' : (testRun.benchmarkResultFixedOK === false ? 'fa-lg fa fa-exclamation-circle text-danger center' : (testRun.benchmarkResultFixedOK === null ? 'fa-lg fa fa-times-circle text-alert center': 'fa-lg fa fa-refresh fa-spin  text-alert center' ))"></span>
                </td>
                <td data-ng-if="showBenchmarks && !(runningTest && $index < numberOfRunningTests)">
                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg" ng-if="testRun.testRunId === dashboard.baseline"></md-icon>
                </td>
                <td data-ng-if="!(runningTest && $index < numberOfRunningTests)">
                    <md-menu style="padding-top: 0px; padding-bottom: 0px;">
                        <div aria-label="Open test run menu" class="md-icon-button"
                                   ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_black_24px.svg"></md-icon>
                            <md-tooltip>
                                Test run menu
                            </md-tooltip>
                        </div>
                        <md-menu-content width="4">
                            <md-menu-item data-ng-if="showBenchmarks">
                                <md-button data-ng-click="refreshTestrun(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_refresh_black_36px.svg"
                                             md-menu-align-target></md-icon>
                                    Refresh test run
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="showBenchmarks && testRun.testRunId !== dashboard.baseline && testRun.completed === true">
                                <md-button data-ng-click="setTestRunAsBaseline(testRun.testRunId)">
                                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg"></md-icon>
                                    Set as baseline
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="testRun.buildResultsUrl ">
                                <md-button data-ng-click="go(testRun.buildResultsUrl )">
                                    <md-icon md-svg-src="images/assets/ic_link_black_36px.svg"></md-icon>
                                    View in CI server
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="testRun.completed === false">
                                <md-button data-ng-click="markAsComplete(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_link_black_36px.svg"></md-icon>
                                    Mark test run as complete
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button  data-ng-click="editTestRun(testRun)">
                                    <md-icon md-svg-src="images/assets/ic_mode_edit_black_36px.svg"></md-icon>
                                    Edit test run
                                </md-button>
                            </md-menu-item>
                            <!--<md-menu-item>-->
                                <!--<md-button class="danger" data-ng-click="openDeleteTestRunModal('', $index)">-->
                                    <!--<md-icon md-svg-src="images/assets/ic_delete_black_36px.svg"></md-icon>-->
                                    <!--Delete test run-->
                                <!--</md-button>-->
                            <!--</md-menu-item>-->
                        </md-menu-content>
                    </md-menu>
                </td>
                <td data-ng-if="!(runningTest && $index < numberOfRunningTests)">
                    <md-checkbox md-no-ink aria-label="select test run" ng-model="testRun.selected"  ng-change="setTestRunsSelected(testRun.selected)" style="margin: 0px;">
                    </md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
        <div  layout="row" layout-align="end center">
            <md-input-container ng-hide="(totalNumberOftestRuns < showNumberOfTestRuns) && (showNumberOfTestRuns === '10')">
                <label>Rows</label>
                <md-select ng-model="showNumberOfTestRuns">
                    <md-option ng-repeat="numberOfRowOption in numberOfRowOptions" value="{{numberOfRowOption.value}}">
                        {{numberOfRowOption.value}}
                    </md-option>
                </md-select>
            </md-input-container>
            <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true"
                    on-page-change="nextPage(newPageNumber)" >
            </dir-pagination-controls>
        </div>
        <div flex="50" class="container" ng-if="loading">
            <md-progress-circular md-mode="indeterminate" md-diameter="48"></md-progress-circular>
            <div class="bottom-block">
                <span>Loading test runs ...</span>
            </div>
        </div>

        <!--<img id="TestRunSpinner" class="center" data-ng-show="loading" src="images/assets/spinner.gif"/>-->
        <!--<div cg-busy="{promise:getTestRuns,message:'Loading test runs...'}"></div>-->

    </div>
</div>
