<md-content>
    <div data-ng-include="'modules/graphs/views/tag-filter-modal.client.view.html'"></div>
    <div layout="column">
        <div class="graphs-header">
            <div layout="column">
                <div layout="row"  flex>
                    <div flex="40" layout="row" layout-align="space-between center">
                        <!--<div layout="row" ng-if="vm.graphsType === 'testrun'" layout-align="start center">-->
                            <!--<span ng-if="vm.graphsType === 'testrun'" style="white-space: nowrap;">-->
                                <!--<a data-ng-href="/#!/browse/{{vm.testRun.productName}}/">{{vm.testRun.productName}}</a>  /-->
                                <!--<a data-ng-href="/#!/browse/{{vm.testRun.productName}}/{{vm.testRun.dashboardName}}/">{{vm.testRun.dashboardName}}</a>-->
                                  <!--/  {{vm.testRun.testRunIdBreadCrump}}-->
                                <!--<md-tooltip>-->
                                    <!--{{vm.testRun.testRunId}}-->
                                <!--</md-tooltip>-->
                            <!--</span>-->
                            <!--<div ng-if="vm.graphsType === 'testrun'"  >-->
                                <!--<md-button  class="md-icon-button testrun-annotations-button" data-ng-click="vm.showAnnotations($event, vm.testRun, false)">-->
                                    <!--<md-icon ng-if="vm.testRun.annotations" class="testrun-annotations-button" md-svg-src="images/assets/ic_info_outline_black_18px.svg"></md-icon>-->
                                    <!--<md-icon ng-if="!vm.testRun.annotations" class="testrun-annotations-button" md-svg-src="images/assets/pencil-box-outline.svg"></md-icon>-->
                                    <!--<md-tooltip>-->
                                        <!--{{vm.testRun.annotations || 'Annotate test run'}}-->
                                    <!--</md-tooltip>-->
                                <!--</md-button>-->
                            <!--</div>-->

                        <!--</div>-->
                        <div layout="row">
                            <span  style="white-space: nowrap;">
                                <a data-ng-href="/#!/browse/{{vm.productName}}/">{{vm.productName}}</a>  /
                                <a data-ng-href="/#!/browse/{{vm.productName}}/{{vm.dashboardName}}/">{{vm.dashboardName}}</a>
                                 / TRENDS

                            </span>
                            <!--<div ng-if="vm.runningTest && vm.graphsType === 'graphs-live'"  >-->
                                <!--<md-button  class="md-icon-button testrun-annotations-button" data-ng-click="vm.showAnnotations($event, vm.runningTest, true)">-->
                                    <!--<md-icon ng-if="vm.runningTest.annotations" class="testrun-annotations-button" md-svg-src="images/assets/ic_info_outline_black_18px.svg"></md-icon>-->
                                    <!--<md-icon ng-if="!vm.runningTest.annotations" class="testrun-annotations-button" md-svg-src="images/assets/pencil-box-outline.svg"></md-icon>-->
                                    <!--<md-tooltip>-->
                                        <!--{{vm.runningTest.annotations || 'Annotate running test'}}-->
                                    <!--</md-tooltip>-->
                                <!--</md-button>-->
                            <!--</div>-->
                        </div>
                        <div  layout="row" layout-align="start center">
                            <!--<md-input-container class="targetsio-header-text">-->
                                <!--<label>Time range</label>-->
                                <md-select class="md-padding time-range-selector" ng-model="vm.trendsZoomRange" style="padding-left: 5px;">
                                    <md-option ng-repeat="zoomOption in vm.zoomOptions" ng-value="zoomOption" ng-selected="$index === vm.selectedZoomOptionIndex">
                                        {{zoomOption.label}}
                                    </md-option>
                                </md-select>
                            <!--</md-input-container>-->
                        </div>


                    </div>
                    <div layout="row" flex="20" layout-align="center center">

                        <!--<md-button md-no-ink class="md-primary" data-ng-click="openTagsFilterModal('')">Tag filter</md-button>-->
                        <div layout="row" layout-align="end center">
                            <div>
                                <md-input-container class="targetsio-header-text" ng-keypress="$event.which === 13 && vm.setMetricFilter()">
                                    <label>Filter metrics</label>
                                    <input ng-model="vm.metricFilterInput">
                                </md-input-container>
                            </div>
                            <div>
                                <md-icon ng-show="vm.metricFilter && vm.metricFilter !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                                          data-ng-click="vm.clearMetricFilter()">
                                </md-icon>
                            </div>
                            <div>
                                <md-icon  ng-show="!vm.metricFilter && vm.metricFilterInput !==''" md-svg-src="images/assets/ic_check_black_36px.svg"
                                          data-ng-click="vm.setMetricFilter()">
                                </md-icon>
                            </div>

                        </div>
                    </div>

                    <div layout="row" layout-align="end center" flex="40">
                        <div  layout="row" layout-align="end center" >
                            <button ng-if="vm.showViewUrl && vm.hasFlash()"
                                    class="copy-button"
                                    tooltip-size="medium" title="Copy graph URL"
                                    tooltip-side="top" clip-copy="vm.viewShareUrl"
                                    clip-click="vm.clipClicked()">Copy
                            </button>
                            <input flex ng-readonly="true" ng-model="vm.viewShareUrl" ng-if="vm.showViewUrl"
                                   share-graph-url/>
                            <md-button  class="md-icon-button" data-ng-click="vm.setViewShareUrl()">
                                <md-icon md-svg-src="images/assets/ic_link_black_36px.svg" ></md-icon>
                                <md-tooltip>Share view URL</md-tooltip>
                            </md-button>

                            <!--<label title="Share view URL" class="btn default"-->
                                   <!--ng-click="vm.setViewShareUrl()"><span-->
                                    <!--class="btn  glyphicon glyphicon-share"></span>-->
                            <!--</label>-->

                        </div>
                        <!--<md-menu >-->
                            <!--<md-button aria-label="number of columns" class="md-icon-button"-->
                                       <!--ng-click="vm.openMenu($mdOpenMenu, $event)">-->
                                <!--<md-icon md-menu-origin class="md-primary" md-svg-src="images/assets/ic_view_week_black_24px.svg"></md-icon>-->
                                <!--<md-tooltip>-->
                                    <!--View-->
                                <!--</md-tooltip>-->
                            <!--</md-button>-->
                            <!--<md-menu-content width="4">-->
                                <!--<md-menu-item>-->
                                    <!--<md-button data-ng-click="vm.toggleNumberOfColums(1)">-->
                                        <!--One column view-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item>-->
                                    <!--<md-button data-ng-click="vm.toggleNumberOfColums(2)">-->
                                        <!--Two columns view-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item>-->
                                    <!--<md-button data-ng-click="vm.toggleNumberOfColums(3)">-->
                                        <!--Three columns view-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item>-->
                                    <!--<md-button data-ng-click="vm.toggleReOrderGraphs()">-->
                                        <!--Reorder graphs-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                            <!--</md-menu-content>-->
                        <!--</md-menu>-->
                        <md-switch class="md-primary" md-no-ink aria-label="Show legend" ng-model="vm.showLegend" ng-change="vm.toggleLegend()">
                            LEGEND
                        </md-switch>
                        <!--<md-switch class="md-primary" md-no-ink aria-label="Show tooltip" ng-model="vm.showTooltip" ng-change="vm.toggleTooltip()">-->
                            <!--POINTER DATA-->
                        <!--</md-switch>-->
                        <!--<md-switch class="md-primary" md-no-ink aria-label="Apply zoom to all graphs" ng-model="vm.zoomLock" >-->
                            <!--ZOOM ALL GRAPHS-->
                        <!--</md-switch>-->
                        <!--<md-button class="md-icon-button"  data-ng-click="vm.resetZoom()">-->
                            <!--<md-tooltip>-->
                                <!--Reset zoom-->
                            <!--</md-tooltip>-->
                            <!--<md-icon md-svg-src="images/assets/ic_cached_black_24px.svg"></md-icon>-->
                        <!--</md-button>-->

                    </div>
                </div>
            </div>
        </div>
        <div>
            <md-tabs md-selected="vm.selectedIndex" style="padding-bottom: 0px;">
                <md-tab ng-repeat="tag in vm.tags" ng-click="vm.switchTag(tag.route)">
                    <span>{{tag.text}}</span>
                </md-tab>
            </md-tabs>
        </div>
        <div class="md-padding" layout="row"  ng-if="vm.filteredMetrics.length === 0">
            <p>No test runs available in selected period, or no metrics are benchmarked for this dashboard. </p>
        </div>

            <div class="md-padding graph-column" ng-attr-id="{{'column-' + $index + '-' + vm.columnsArray.length}}" layout="column" flex="vm.flex">
                <accordion  data-ng-model="vm.filteredMetrics" close-others="false">
                    <div class="graph-container"  data-ng-repeat="metric in vm.filteredMetrics" >
                        <div>
                            <trends-content flex metric="metric" index="$index"></trends-content>
                        </div>
                    </div>
                </accordion>
            </div>
        </div>
    </div>
</md-content>

<div ng-if="vm.reOrderGraphs" class="reorder" draggable>
    <md-toolbar  class="md-padding" layout-align="center center"><h4>REORDER GRAPHS</h4></md-toolbar>
        <div layout="column">
            <md-button ng-click="vm.toggleReOrderGraphs()" class="md-primary">
                Done
            </md-button>
        </div>
</div>
