<md-content>
    <div data-ng-include="'modules/graphs/views/tag-filter-modal.client.view.html'"></div>
    <div layout="column">
        <!--<div class="graphs-header">-->
            <!--<div layout="column">-->
                <div layout="row"  style="min-height:75px;"  flex>
                    <div flex="40" layout="row" layout-align="space-between center">
                        <div layout="row">
                            <span  style="white-space: nowrap;">
                                <a data-ng-href="/#!/browse/{{vm.productName}}/">{{vm.productName}}</a>  /
                                <a data-ng-href="/#!/browse/{{vm.productName}}/{{vm.dashboardName}}/">{{vm.dashboardName}}</a>
                                 / TRENDS

                            </span>

                        </div>
                        <div  layout="row" layout-align="start center">
                                <md-select class="md-padding time-range-selector" ng-model="vm.trendsZoomRange" style="padding-left: 5px;">
                                    <md-option ng-repeat="zoomOption in vm.zoomOptions" ng-value="zoomOption" ng-selected="$index === vm.selectedZoomOptionIndex">
                                        {{zoomOption.label}}
                                    </md-option>
                                </md-select>

                        </div>


                    </div>
                    <div layout="row" flex="20" layout-align="center center">

                        <!--<md-button md-no-ink class="md-primary" data-ng-click="openTagsFilterModal('')">Tag filter</md-button>-->
                        <div layout="row" layout-align="end center">
                            <div>
                                <md-input-container class="targetsio-header-text" ng-keypress="$event.which === 13 && vm.setMetricFilter()">
                                    <label>Filter metrics</label>
                                    <input ng-model="vm.metricFilterInput">
                                </md-input-container>
                            </div>
                            <div>
                                <md-icon ng-show="vm.metricFilter && vm.metricFilter !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                                          data-ng-click="vm.clearMetricFilter()">
                                </md-icon>
                            </div>
                            <div>
                                <md-icon  ng-show="!vm.metricFilter && vm.metricFilterInput !==''" md-svg-src="images/assets/ic_check_black_36px.svg"
                                          data-ng-click="vm.setMetricFilter()">
                                </md-icon>
                            </div>

                        </div>
                    </div>

                    <div layout="row" layout-align="end center" flex="40">
                        <div  layout="row" layout-align="end center" >
                            <button ng-if="vm.showViewUrl && vm.hasFlash()"
                                    class="copy-button"
                                    tooltip-size="medium" title="Copy graph URL"
                                    tooltip-side="top" clip-copy="vm.viewShareUrl"
                                    clip-click="vm.clipClicked()">Copy
                            </button>
                            <input flex ng-readonly="true" ng-model="vm.viewShareUrl" ng-if="vm.showViewUrl"
                                   share-graph-url/>
                            <md-button  class="md-icon-button" data-ng-click="vm.setViewShareUrl()">
                                <md-icon md-svg-src="images/assets/ic_link_black_36px.svg" ></md-icon>
                                <md-tooltip>Share view URL</md-tooltip>
                            </md-button>


                        </div>

                        <md-switch class="md-primary" md-no-ink aria-label="Show legend" ng-model="vm.showLegend" ng-change="vm.toggleLegend()">
                            LEGEND
                        </md-switch>
                        <md-switch class="md-primary" md-no-ink aria-label="Show tooltip" ng-model="vm.showTooltip" ng-change="vm.toggleTooltip()">
                            POINTER DATA
                        </md-switch>

                    </div>
                </div>
            <!--</div>-->
        </div>
        <div>
            <md-tabs md-selected="vm.selectedIndex" style="padding-bottom: 0px;">
                <md-tab ng-repeat="tag in vm.tags" ng-click="vm.switchTag(tag.route)">
                    <span>{{tag.text}}</span>
                </md-tab>
            </md-tabs>
        </div>
        <div class="md-padding" layout="row"  ng-if="vm.filteredMetrics.length === 0">
            <p>No test runs available in selected period, or no metrics are benchmarked for this dashboard. </p>
        </div>

            <div class="md-padding graph-column" ng-attr-id="{{'column-' + $index + '-' + vm.columnsArray.length}}" layout="column" flex="vm.flex">
                <accordion  data-ng-model="vm.filteredMetrics" close-others="false">
                    <div class="graph-container"  data-ng-repeat="metric in vm.filteredMetrics" >
                        <div>
                            <trends-content flex metric="metric" index="$index"></trends-content>
                        </div>
                    </div>
                </accordion>
            </div>
        </div>
    </div>
</md-content>

<div ng-if="vm.reOrderGraphs" class="reorder" draggable>
    <md-toolbar  class="md-padding" layout-align="center center"><h4>REORDER GRAPHS</h4></md-toolbar>
        <div layout="column">
            <md-button ng-click="vm.toggleReOrderGraphs()" class="md-primary">
                Done
            </md-button>
        </div>
</div>
