<md-dialog draggable class="pointer" aria-label="Annotations">
    <md-toolbar class="md-padding" layout-align="center center"><h4>METRIC IN TESTRUN SUMMARY</h4></md-toolbar>
    <div layout="column"
    <md-dialog-content class="md-padding">
        <h5>{{metric.alias | uppercase}}</h5>
        <md-input-container class="md-block" flex>
            <label>Annotation</label>
            <textarea name="metricAnnotations" ng-model="metric.defaultSummaryText" columns="1" md-maxlength="500"
                      rows="10"></textarea>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <div layout="row" layout-align="space-between" flex>
            <md-button ng-click="removeFromSummary()" class="md-primary">
                Remove
            </md-button><md-button ng-click="closeDialogCancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="closeDialogOK()" class="md-primary">
                OK
            </md-button>
        </div>
    </md-dialog-actions>
    </div>
</md-dialog>
