<ul class="nav nav-pills nav-justified">
    <li ng-class="{active: isSet(0)}" >
        <a href ng-click="setTab(0)" >Requests</a></li>
    <li ng-class="{active: isSet(1)}">
        <a href  ng-click="setTab(1)">Errors</a></li>
</ul>
<div class="clearfix"></div>
<div loading-container="tableParams.settings().$loading"  ng-if="isSet(0)">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tbody>
        <tr ng-repeat="transaction in $data">
            <td data-title="'Request'" filter="{ 'request': 'text' }" sortable="'request'">
                {{transaction.request}}
            </td>
            <td data-title="'OK'" sortable="'OK'">
                {{transaction.OK}}
            </td>
            <td data-title="'KO'" sortable="'KO'">
                {{transaction.KO}}
            </td>
            <td data-title="'% Failed'" sortable="'percFailed'">
                {{transaction.percFailed}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div loading-container="tableParams.settings().$loading"  ng-if="isSet(1)">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tbody>
        <tr ng-repeat="transaction in $data">
            <td data-title="'Errors'" filter="{ 'error': 'text' }" sortable="'error'">
                {{transaction.error}}
            </td>
            <td data-title="'Number'" sortable="'numberOfErrors'">
                {{transaction.numberOfErrors}}
            </td>
            <td data-title="'Percentage'" sortable="'percentageOfErrors'">
                {{transaction.percentageOfErrors}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
