<div ng-controller="GraphsController" data-ng-init="init()">
    <div data-ng-include="'modules/graphs/views/tag-filter-modal.client.view.html'"></div>
    <div fix-to-top="fix-to-top" class="graphs-header">
        <div layout="row" flex>
            <md-radio-group ng-model="zoomRange">
                <div layout="row" flex>
                    <md-radio-button value="-10min" class="md-primary">10min</md-radio-button>
                    <md-radio-button value="-30min" class="md-primary">30min</md-radio-button>
                    <md-radio-button value="-1h" class="md-primary">1h</md-radio-button>
                    <md-radio-button value="-3h" class="md-primary">3h</md-radio-button>
                    <md-radio-button value="-6h" class="md-primary">6h</md-radio-button>
                    <md-radio-button value="-12h" class="md-primary">12h</md-radio-button>
                    <md-radio-button value="-1d" class="md-primary">1d</md-radio-button>
                    <md-radio-button value="-2d" class="md-primary">2d</md-radio-button>
                    <md-radio-button value="-3d" class="md-primary">3d</md-radio-button>
                </div>
            </md-radio-group>

            <md-checkbox ng-model="zoomLock" aria-label="Apply zoom to all graphs">
                Apply zoom to all graphs
            </md-checkbox>
            <md-button md-no-ink class="md-primary" data-ng-click="resetZoom()">Reset zoom</md-button>
            <md-button md-no-ink class="md-primary" data-ng-click="openTagsFilterModal('')">Tag filter</md-button>
        </div>


        <!--<div class="btn-group" >-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-10min'" uncheckable>10min</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-30min'" uncheckable>30min</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-1h'" uncheckable>1h</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-3h'" uncheckable>3h</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-6h'" uncheckable>6h</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-12h'" uncheckable>12h</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-1d'" uncheckable>1d</label>-->
        <!--<label class="btn btn-primary" ng-model="zoomRange" btn-radio="'-2d'" uncheckable>2d</label>-->
        <!--</div>-->

        <md-tabs md-selected="selectedIndex" class="metric-panels" style="padding-bottom: 0px;">
            <md-tab ng-repeat="tag in tags" ng-disabled="tag.disabled" data-ng-model="value" active="isActive(tag.text)"
                    ng-click="setSelectedIndex($index)" ui-sref="viewLiveGraphs(tag.route)">
                <span>{{tag.text}}</span>
            </md-tab>
        </md-tabs>

        <md-input-container>
            <label>Filter metrics</label>
            <input ng-model="filterMetrics">
        </md-input-container>
    </div>

    <accordion close-others="false">
        <div data-ng-repeat="metric in metrics | tagsFilter:'tags':value | filter:filterMetrics" data-ng-controller="HighchartsLiveController">
            <accordion-group is-open="metric.isOpen" class="graph-accordion-group">
                <accordion-heading>
                    <div>{{metric.alias}}</div>
                </accordion-heading>
                <div data-ng-init="initConfig(metric, $index)" ng-if="metric.isOpen">
                        <span>
                        <div class="btn-group">
                            <label class="btn default" ng-click="editMetric(metric._id)"><span
                                    class="btn btn-xs glyphicon glyphicon-wrench"></span></label>
                            <label title="Edit tags" class="btn default" ng-click="setTags()"><span
                                    class="btn btn-xs glyphicon glyphicon-tag"></span></label>
                            <label class="btn default" ng-click="setMetricShareUrl(metric._id)"><span
                                    class="btn btn-xs glyphicon glyphicon-share"></span></label>
                        </div>
                        </span>
                    <span><input ng-readonly="true" ng-model="metricShareUrl" ng-if="showUrl" style="width:50%;"
                                 share-graph-url/></span><span><button ng-if="showUrl && hasFlash()"
                                                                       tooltip-size="medium" title="Copy graph URL"
                                                                       tooltip-side="top" clip-copy="metricShareUrl"
                                                                       clip-click="clipClicked()">Copy
                </button></span>
                        <span>
                          <div class="input-group" ng-if="showTags" class="graph-input-tags">
                              <tags-input data-ng-model="metric.tags" on-tag-removed="tagRemoved($tag)">
                                  <auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>
                              </tags-input>
                                <span class="input-group-btn">
                                    <button ng-click="updateTags()" class="btn btn-default" type="button"><span
                                            class="btn btn-xs glyphicon glyphicon-ok"></button>
                                </span>
                          </div>
                        </span>
                    <!--<highchart id="chart1" config="config"></highchart>-->
                    <div ng-attr-id="{{'chart-' + $index}}" config="config"></div>
                </div>
            </accordion-group>
        </div>
    </accordion>
</div>
