<md-content ng-controller="GraphsController" data-ng-init="init()">
    <div data-ng-include="'modules/graphs/views/tag-filter-modal.client.view.html'"></div>
    <div class="graphs-header">
        <div layout="column">

            <div layout="row"  flex>
                <div flex="30" layout="row" layout-align="start center">
                    <span>
                    <a data-ng-href="/#!/browse/{{testRun.productName}}/">{{testRun.productName}}</a>  /
                    <a data-ng-href="/#!/browse/{{testRun.productName}}/{{testRun.dashboardName}}/">{{testRun.dashboardName}}</a>
                      /  {{testRun.testRunId}}
                </span>
                </div>
                <div layout="row" flex="40" layout-align="space-between center">

                    <md-switch class="md-primary" md-no-ink aria-label="Apply zoom to all graphs" ng-model="zoomLock" >
                        Apply zoom to all graphs
                    </md-switch>
                    <md-button md-no-ink class="md-primary" data-ng-click="resetZoom()">Reset zoom</md-button>
                        <div>
                            <md-input-container class="targetsio-header-text">
                                <label>Filter metrics</label>
                                <input ng-model="metricFilter">
                            </md-input-container>
                        </div>
                        <div>
                            <md-icon  ng-if="metricFilter && metricFilter !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                                      data-ng-click="clearMetricFilter()">
                            </md-icon>
                        </div>

                </div>

                <div layout="row" layout-align="end center" flex="30">
                    <div  layout="row" layout-align="end center" >
                        <button ng-if="showViewUrl && hasFlash()"
                                tooltip-size="medium" title="Copy graph URL"
                                tooltip-side="top" clip-copy="viewShareUrl"
                                clip-click="clipClicked()">Copy
                        </button>
                        <input flex ng-readonly="true" ng-model="viewShareUrl" ng-if="showViewUrl"
                               share-graph-url/>
                        <label title="Share view URL" class="btn default"
                               ng-click="setViewShareUrl('testrun')"><span
                                class="btn  glyphicon glyphicon-share"></span>
                        </label>

                    </div>
                    <md-menu>
                        <md-button aria-label="number of columns" class="md-icon-button"
                                   ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-menu-origin class="md-primary" md-svg-src="images/assets/ic_view_week_black_24px.svg"></md-icon>
                            <md-tooltip>
                                Number of columns
                            </md-tooltip>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button data-ng-click="toggleNumberOfColums(1)">
                                    One column view
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button data-ng-click="toggleNumberOfColums(2)">
                                    Two columns view
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button data-ng-click="toggleNumberOfColums(3)">
                                    Three columns view
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-switch class="md-primary" md-no-ink aria-label="Show legend" ng-model="showLegend" ng-change="toggleLegend()">
                        Show legend
                    </md-switch>
                    <md-switch class="md-primary" md-no-ink aria-label="Show tooltip" ng-model="showTooltip" ng-change="toggleTooltip()">
                        Show tooltip
                    </md-switch>
                </div>
            </div>
        </div>
        <md-tabs md-selected="selectedIndex" style="padding-bottom: 0px;">
            <md-tab ng-repeat="tag in tags" ui-sref="viewGraphs(tag.route)">
                <span>{{tag.text}}</span>
            </md-tab>
        </md-tabs>
    </div>
    <div gatling-details data-ng-if="gatlingDetails"></div>

    <md-content data-ng-hide="gatlingDetails">
        <md-content layout="row">
            <md-content class="md-padding graph-column" ng-attr-id="{{'column-' + $index + '-' + columnsArray.length}}" layout="column" ng-repeat="column in columnsArray" flex="flex">
                <accordion close-others="false">
                    <md-content  data-ng-repeat="metric in filteredMetrics | tagsFilter:'tags':value | slice:column.start:column.end" data-ng-controller="HighchartsController">
                        <accordion-group is-open="metric.isOpen" class="graph-accordion-group">
                            <accordion-heading>
                                <div>{{metric.alias}}</div>
                            </accordion-heading>
                            <div  ng-if="metric.isOpen">
                                <span>
                                    <div class="btn-group">
                                        <label title="Edit metric" class="btn default" ng-click="editMetric(metric._id)"><span
                                                class="btn btn-xs glyphicon glyphicon-wrench"></span></label>
                                        <label title="Edit tags" class="btn default" ng-click="setTags()"><span
                                                class="btn btn-xs glyphicon glyphicon-tag"></span></label>
                                        <label title="Share URL" class="btn default"
                                               ng-click="setMetricShareUrl(metric)"><span
                                                class="btn btn-xs glyphicon glyphicon-share"></span></label>
                                    </div>
                                </span>
                                <span><input ng-readonly="true" ng-model="metricShareUrl" ng-if="showUrl" style="width:50%;"
                                             share-graph-url/></span><span><button ng-if="showUrl && hasFlash()"
                                                                                   tooltip-size="medium" title="Copy graph URL"
                                                                                   tooltip-side="top" clip-copy="metricShareUrl"
                                                                                   clip-click="clipClicked()">Copy
                                     </button></span>
                                <span>
                                      <div class="input-group" ng-if="showTags" class="graph-input-tags">

                                          <tags-input data-ng-model="metric.tags" on-tag-removed="tagRemoved($tag)">
                                              <auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>
                                          </tags-input>
                                            <span class="input-group-btn">
                                                <button ng-click="updateTags(metric.tags[metric.tags.length - 1].text)" class="btn btn-default" type="button"><span
                                                        class="btn btn-xs glyphicon glyphicon-ok"></button>
                                            </span>
                                      </div>
                                </span>
                                <span>
                                    <label ng-if= "numberOfColumns > 1" title="Expand" class="btn default pull-right"
                                           ng-click="drilldownToMetric(metric)"><span
                                            class="btn btn-sm glyphicon  glyphicon-resize-full"></span></label>
                                </span>
                                <dygraph metric="metric"></dygraph>

                            </div>
                    </accordion-group>
                </md-content>
            </accordion>
        </md-content>
    </md-content>
</md-content>
