<div ng-controller="GraphsController" data-ng-init="init()">
    <div data-ng-include="'modules/graphs/views/tag-filter-modal.client.view.html'"></div>
    <div fix-to-top="fix-to-top" class="graphs-header">
        <span>
            <label class="checkbox">
            <input title="Apply zoom to all graphs" type="checkbox" ng-model="zoomLock">
            Zoom lock
            </label>
        </span>
        <span>
            <button class="btn default" data-ng-click="resetZoom()">Reset zoom</button>
        </span>
        <span>
            <button class="btn default" data-ng-click="openTagsFilterModal('')">Tag filter</button>
        </span>

        <tabset>
            <tab data-ng-repeat="tag in tags" heading="{{tag.text}}"  data-ng-model="value"  disabled="tag.disabled"  active="isActive(tag.text)" ui-sref="viewGraphs(tag.route)" >
            </tab>
        </tabset>
    </div>    
    <div gatling-details data-ng-if="gatlingDetails"></div>
    <div data-ng-hide="gatlingDetails">
        <accordion close-others="false">
        <div data-ng-repeat="metric in metrics | tagsFilter:'tags':value" data-ng-controller="HighchartsController">
                <accordion-group is-open="metric.isOpen" class="graph-accordion-group">
                    <accordion-heading><div>{{metric.alias}}</div></accordion-heading>
                    <div data-ng-init="initConfig(chart, metric)" ng-if="metric.isOpen">
                        <span>
                            <div class="btn-group">
                                <label title="Edit metric" class="btn default" ng-click="editMetric(metric._id)"><span class="btn btn-xs glyphicon glyphicon-wrench"></span></label>
                                <label title="Edit tags" class="btn default" ng-click="setTags()"><span class="btn btn-xs glyphicon glyphicon-tag"></span></label>
                                <label title="Share URL" class="btn default" ng-click="setMetricShareUrl(metric._id)"><span class="btn btn-xs glyphicon glyphicon-share"></span></label>
                            </div>
                        </span>
                        <span><input ng-readonly="true" ng-model="metricShareUrl" ng-if="showUrl" style="width:50%;" share-graph-url/></span><span><button ng-if="showUrl && hasFlash()" tooltip-size="medium" title="Copy graph URL" tooltip-side="top"  clip-copy="metricShareUrl" clip-click="clipClicked()">Copy</button></span>
                        <span>
                              <div class="input-group"  ng-if="showTags" class="graph-input-tags">
                                  
                                    <tags-input data-ng-model="metric.tags" on-tag-removed="tagRemoved($tag)">
                                        <auto-complete source="loadTags($query)" loadOnDownArrow="true"></auto-complete>
                                    </tags-input>
                                    <span class="input-group-btn">
                                        <button ng-click="updateTags()" class="btn btn-default" type="button"><span class="btn btn-xs glyphicon glyphicon-ok"></button>
                                    </span>
                              </div>
                        </span>
    
                        <highchart id="chart1" config="config"></highchart>
                    </div>
                </accordion-group>
          </div>
        </accordion>
    </div>
</div>
