<div class="page-header">
    <h1>Requirement details</h1>
</div>
<ul class="nav nav-tabs nav-justified">
    <li ng-class="{active: isSet(0)}" >
        <a href ng-click="setTab(0)" >Passed</a></li>
    <li ng-class="{active: isSet(1)}">
        <a href  ng-click="setTab(1)">Failed</a></li>
</ul>
<table ng-table="tableParams" class="table">
    <tbody ng-repeat="group in $groups">
    <tr class="ng-table-group">
        <td>
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                <strong>{{ group.value }}</strong>
            </a>
       </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="target in group.data">
        <td sortable="target" data-title="'Metric'" header-class="'text-left'">
            {{target.target}}
        </td>
        <td sortable="value" data-title="'Value'">
            {{target.value}}
        </td>
        <td data-title="'Requirement'">{{target.requirementOperator}} {{target.requirementValue}}</td>
        <td data-title="'Result'">
            <span title="Go to graph" ui-sref="deepLinkGraph({productName: target.productName, dashboardName:target.dashboardName, testRunId: target.testRunId, tag: target.tag, metricId: target.metricId})" ng-class="target.targetMeetsRequirement ? 'fa-lg fa fa-check-circle-o text-success center' : 'fa-lg fa fa-exclamation-circle text-danger center'"></span>
            <span title="Configure metric" ui-sref="editMetric({productName: target.productName, dashboardName:target.dashboardName, metricId: target.metricId})" class="fa-lg fa fa-wrench pull-right"></span>
        </td>

    </tr>
    </tbody>
</table>
