<div class="datagrid">
    <table>
    <thead>
    <tr>
        <th>
            Metric
        </th>
        <th>
            Min
        </th>
        <th>
            Max
        </th>
        <th>
            Avg
        </th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="metric in legendMetrics" class="hover-row" ng-click="selectMetric($index)">
        <td>
            {{metric.name}}
        </td>
        <td>
            {{metric.min}}
        </td>
        <td>
            {{metric.max}}
        </td>
        <td>
            {{metric.avg}}
        </td>
    </tr>
    </tbody>
</table>
</div>
