<div class="targets-io-date-time-picker-background">
    <md-icon id="dataTimePickerButton" md-svg-src="images/assets/ic_schedule_black_36px.svg"
             data-ng-click="openCalendarDialog($event)" ></md-icon>
<!--<md-icon id="dataTimePickerButton" md-svg-src="images/assets/ic_schedule_black_36px.svg"-->
             <!--data-ng-click="openCalendar = true;" ng-show="!openCalendar" ></md-icon>-->

    <!--<time-date-picker ng-if="openCalendar"-->
                      <!--ng-model="timestamp"-->
                      <!--data-display-mode="full"-->
                      <!--on-save="saveTimestamp($value)"-->
                      <!--on-cancel="cancelTimestamp()"-->
                      <!--display-twentyfour="true"-->
                      <!--class="targets-io-date-time-picker">-->
    <!--</time-date-picker>-->

</div>
