<md-menu>
    <md-button aria-label="Open edit menu" class="md-icon-button"
               ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-src="images/assets/ic_settings_white_24px.svg"></md-icon>
        <md-tooltip>
            Product menu
        </md-tooltip>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button data-ng-click="addProduct()">
                <md-icon md-svg-src="images/assets/ic_add_black_36px.svg"
                         md-menu-align-target></md-icon>
                Add product
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="product">
            <md-button data-ng-click="editProduct(product.name)">
                <md-icon md-svg-src="images/assets/ic_mode_edit_black_36px.svg"
                         md-menu-align-target></md-icon>
                Edit product
            </md-button>
        </md-menu-item>
        <md-menu-divider ng-if="product"></md-menu-divider>
        <md-menu-item ng-if="product">
            <md-button data-ng-click="editProductRequirememts()">
                <md-icon md-svg-src="images/assets/ic_mode_edit_black_36px.svg"
                         md-menu-align-target></md-icon>
                Product requirements
            </md-button>
        </md-menu-item>
        <md-menu-divider ng-if="product"></md-menu-divider>
        <md-menu-item ng-if="product">
            <md-button class="danger" data-ng-click="openDeleteProductModal('', $index)">
                <md-icon md-svg-src="images/assets/ic_delete_black_36px.svg"></md-icon>
                Delete product
            </md-button>
        </md-menu-item>

    </md-menu-content>
</md-menu>
