<div layout="column">
    <h3>Recent test runs</h3>

    <div layout="row" flex layout-align="space-between center">

        <div layout="row" layout-align="start center">
            <md-select class="md-padding time-range-selector" ng-model="recentTestPeriod"  ng-change="updaterecentTestRuns()">
            <md-option ng-repeat="recentTestPeriodOption in recentTestPeriodOptions" value="{{recentTestPeriodOption.value}}" ng-selected="$index === selectedRecentTestPeriodOptionIndex">
                {{recentTestPeriodOption.label}}
            </md-option>
            </md-select>
            <div>
                <md-input-container class="targetsio-header-text">
                    <label>Filter test runs</label>
                    <input ng-model="testRunFilter">
                </md-input-container>
                <md-icon ng-if="testRunFilter && testRunFilter !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                         data-ng-click="clearTestRunFilter()"></md-icon>
            </div>
        </div>
        <md-checkbox style="margin-bottom: 0px;" ng-model="completedTestRunsOnly" aria-label="Show completed test runs only">
            Show completed test runs only
        </md-checkbox>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Dashboard
            </th>
            <th>
                Test run ID
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                Duration
            </th>

       
        </thead>
        <tr ng-if="recentTests.length === 0">
            <td>No recents tests</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="recentTest in filteredRecentTestRuns | orderBy:'-end' | filter: {completed: completedTestRunsOnly ? true : ''}" class="pointer hover-row" >
            <td ui-sref="viewProduct({productName: recentTest.productName})">
                {{recentTest.productName}}
                <md-tooltip>
                    Go to product
                </md-tooltip>
            </td>
            <td ui-sref="viewDashboard({productName: recentTest.productName, dashboardName: recentTest.dashboardName})" >
                {{recentTest.dashboardName}}
                <md-tooltip>
                    Go to dashboard
                </md-tooltip>
            </td>
            <td ui-sref="viewGraphs({productName: recentTest.productName, dashboardName: recentTest.dashboardName, testRunId: recentTest.testRunId, tag: 'Load'})">
                {{recentTest.testRunId}}
                <md-tooltip>
                    Show test run
                </md-tooltip>
            </td>
            <td ui-sref="viewGraphs({productName: recentTest.productName, dashboardName: recentTest.dashboardName, testRunId: recentTest.testRunId, tag: 'Load'})">
                {{recentTest.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                <md-tooltip>
                    Show test run
                </md-tooltip>
            </td>
            <td ui-sref="viewGraphs({productName: recentTest.productName, dashboardName: recentTest.dashboardName, testRunId: recentTest.testRunId, tag: 'Load'})">
                {{recentTest.end | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                <md-tooltip>
                    Show test run
                </md-tooltip>
            </td>
            <td ui-sref="viewGraphs({productName: recentTest.productName, dashboardName: recentTest.dashboardName, testRunId: recentTest.testRunId, tag: 'Load'})">
                {{recentTest.humanReadableDuration}}
                <md-tooltip>
                    Show test run
                </md-tooltip>
            </td>

        </tr>
        </tbody>
    </table>

</div>
