<div layout="column">
    <h3>Running test runs</h3>
    <!--<md-progress-linear ng-if="runningTests.length > 0" md-mode="indeterminate"></md-progress-linear>-->
    <table class="table">
        <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Dashboard
            </th>
            <th>
                Test run ID
            </th>
            <th>
                Started
            </th>
            <th>
                Duration
            </th>
            <th>
                Progress
            </th>


       
        </thead>
        <tr ng-if="runningTests.length === 0">
            <td>No running tests</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="runningTest in runningTests | orderBy: 'start':true" class="hover-row pointer" >
            <td ui-sref="viewProduct({productName: runningTest.productName})" >
                {{runningTest.productName}}
                <md-tooltip>
                    Go to product
                </md-tooltip>
            </td>
            <td ui-sref="viewDashboard({productName: runningTest.productName, dashboardName: runningTest.dashboardName})" >
                {{runningTest.dashboardName}}
                <md-tooltip>
                    Go to dashboard
                </md-tooltip>
            </td>
            <td ui-sref="viewLiveGraphs({productName: runningTest.productName, dashboardName: runningTest.dashboardName, tag: 'Load'})">
                {{runningTest.testRunId}}
                <md-tooltip>
                    Show live graphs
                </md-tooltip>
            </td>

            <td ui-sref="viewLiveGraphs({productName: runningTest.productName, dashboardName: runningTest.dashboardName, tag: 'Load'})">
                {{runningTest.start | date:'EEEE, dd-M-yyyy H:mm:ss'}}
                <md-tooltip>
                    Show live graphs
                </md-tooltip>
            </td>
            <td ui-sref="viewLiveGraphs({productName: runningTest.productName, dashboardName: runningTest.dashboardName, tag: 'Load'})">
                {{runningTest.humanReadableDuration }}
                <md-tooltip>
                    Show live graphs
                </md-tooltip>
            </td>

            <td>
                <div layout="column" data-ng-if="runningTest.progress !== undefined" layout-align="center left">
                    <md-progress-linear  md-mode="determinate" value="{{runningTest.progress}}"></md-progress-linear>
                    <div class="running-test">
                        {{runningTest.timeLeft}}

                    </div>
                </div>
                <div layout="column" data-ng-if="runningTest.progress === undefined" layout-align="center left">
                    <md-progress-linear  flex md-mode="indeterminate"></md-progress-linear>
                    <div class="running-test">
                        No data available

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>
