<div   layout="row" layout-align="start center" >

    <div flex="10" class="md-toolbar-tools">
        <h1>
            <a class="pointer" ng-click="goHome()" >TARGETS-IO</a>
        </h1>
    </div>
    <div flex="50" layout="row" layout-align="left center">
        <div layout="row" layout-align="left center">
            <md-button ng-if="product" style="margin-left: 20px;"  class="md-icon-button" ng-click="goToProductHome(product)">
                <md-icon md-svg-src="images/assets/ic_home_white_24px.svg"></md-icon>
                <md-tooltip>
                    Product home
                </md-tooltip>
            </md-button>
            <div>
                <span class="targetsio-header-text" >PRODUCT </span>
            </div>

            <div>
                <product-menu></product-menu>
            </div>
            <md-autocomplete tabindex="1" class="targets-io-header-autocomplete"
                    md-selected-item="product"
                    md-search-text="productSearchText"
                    md-items="product in filterProducts(productSearchText)"
                    md-selected-item-change="selectedProductChange(product)"
                    md-item-text="product.name"
                    md-min-length="0"
                    md-autoselect="true"
                    md-no-cache="true"
                    placeholder="Product">
                <md-item-template>
                    <span>{{product.name}}</span>
                </md-item-template>
                <md-not-found>
                    <a ui-sref="addProduct">Add Product</a>
                </md-not-found>
            </md-autocomplete>

        </div>

        <div layout="row" layout-align="space-between center">

            <div>
                <span class="targetsio-header-text" style="margin-left: 20px;" ng-if="product" ng-click="goToDashboardHome(product, dashboard)">DASHBOARD </span>
            </div>
            <div ng-if="product">
                <dashboard-menu></dashboard-menu>
            </div>
            <md-autocomplete tabindex="1" class="targets-io-header-autocomplete"
                            ng-show="product"
                             md-input-id="dashboardAutoComplete"
                             md-selected-item="dashboard"
                             md-search-text="dashboardSearchText"
                             md-items="dashboard in filterDashboards(dashboardSearchText)"
                             md-selected-item-change="selectedDashboardChange(dashboard)"
                             md-item-text="dashboard.name"
                             md-min-length="0"
                             md-no-cache="true"
                             md-autoselect="true"
                             placeholder="Dashboard">
                <md-item-template>
                    <span>{{dashboard.name}}</span>
                </md-item-template>
                <md-not-found>
                    <a ng-click="addDashboard()">Add Dashboard</a>
                </md-not-found>
            </md-autocomplete>
            <md-button ng-if="dashboardSelected" style="margin-left: 20px;"  class="md-icon-button" ng-click="goToDashboardHome(product, dashboard)">
                <md-icon md-svg-src="images/assets/ic_arrow_back_white_24px.svg"></md-icon>
                <md-tooltip>
                    Back to dashboard home
                </md-tooltip>
            </md-button>
            <div ng-if="dashboardView">
                <md-button  class="md-icon-button" data-ng-click="viewLiveGraphs()">
                    <md-icon md-svg-src="images/assets/ic_assessment_white_24px.svg"></md-icon>
                    <md-tooltip>
                        Live graphs
                    </md-tooltip>
                </md-button>
            </div>
            <div ng-if="dashboardView && dashboard.useInBenchmark === true">
                <md-button  class="md-icon-button" data-ng-click="viewTrends()">
                    <md-icon md-svg-src="images/assets/ic_timeline_white_24px.svg"></md-icon>
                    <md-tooltip>
                        Trends
                    </md-tooltip>
                </md-button>
            </div>
            <div ng-if="graphsView">
                <md-button  class="md-icon-button" data-ng-click="goToTestRunSummary()">
                    <md-icon md-svg-src="images/assets/ic_assignment_white_24px.svg"></md-icon>
                    <md-tooltip>
                        Go to test run summary
                    </md-tooltip>
                </md-button>
            </div>
            <!--<div ng-if="graphsView">-->
                <!--<md-button  class="md-icon-button" data-ng-click="editTestRun()">-->
                    <!--<md-icon md-svg-src="images/assets/ic_edit_white_24px.svg"></md-icon>-->
                    <!--<md-tooltip>-->
                        <!--Edit test run-->
                    <!--</md-tooltip>-->
                <!--</md-button>-->
            <!--</div>-->
        </div>

        <!--<div layout="row" layout-align="start center" ng-show="$state.includes('viewGraphs') || $state.includes('viewLiveGraphs')" >-->
            <!--<div>-->
                <!--<md-input-container class="targetsio-header-text" >-->
                    <!--<label class="targetsio-header-text">Filter metrics</label>-->
                    <!--<input class="targetsio-header-text" ng-model="metricFilter" ng-change="updateFilter(metricFilter)">-->
                <!--</md-input-container>-->
            <!--</div>-->
            <!--<div>-->
                <!--<md-icon  ng-if="metricFilter && metricFilter !==''" md-svg-src="images/assets/ic_clear_white_24px.svg"-->
                         <!--data-ng-click="clearMetricFilter()">-->
                <!--</md-icon>-->
            <!--</div>-->

        <!--</div>-->



    </div>
    <div  layout="row" layout-align="end center" flex="30">
        <jenkins-job-status  ng-if="dashboard.triggerTestRunsWithJenkins && graphsLiveView" flex dashboard="dashboard" targetsioheader="true"></jenkins-job-status>
    </div>
    <div flex="5"></div>
    <div flex="5" layout="row" layout-align="end center">
        <md-menu class="md-toolbar-tools">
            <md-button aria-label="Open database menu" class="md-icon-button"
                       ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-src="images/assets/ic_menu_white_36px.svg"></md-icon>
                <md-tooltip>
                    Database menu
                </md-tooltip>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="backup()">
                        Backup database
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="go('/import-db')">
                        Restore database
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="showTemplates()">
                        Templates
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="gettingStarted()">
                        Getting started
                    </md-button>
                </md-menu-item>


            </md-menu-content>
        </md-menu>
    </div>

</div>
