<section data-ng-controller="ImportDbController">
    <div class="page-header">
        <h1>Restore database</h1>
    </div>

    <form ng-hide="activated">
        <input type="file" file-model="myFile"/>
        <button data-ng-click="uploadFile('/upload-template', 'viewTemplates')">Upload</button>

    </form>
    <div class="container" ng-if="activated">
        <md-progress-circular md-mode="{{modes[4]}}" md-diameter="96"></md-progress-circular>
        <div class="bottom-block">
            <span>Importing template ...</span>
        </div>
    </div>
</section>
