<section data-ng-controller="DashboardsController">
    <div class="page-header">
        <h1>New Dashboard</h1>
    </div>
    <form class="form-horizontal" data-ng-submit="create()" name="dashboardForm" novalidate>
        <div layout="column">
            <div layout="column">
                <input type="hidden" data-ng-model="dashboard.productId" id="productId" class="form-control" required>
                <md-input-container flex>
                    <label>Dashboard name</label>
                    <input ng-model="dashboard.name">
                </md-input-container>
                <md-input-container flex>
                    <label>Dashboard description</label>
                    <input ng-model="dashboard.description">
                </md-input-container>
                <md-checkbox ng-model="dashboard.useInBenchmark" aria-label="Benchmark test runs for this dashboard">
                    Benchmark test runs for this dashboard
                </md-checkbox>
            </div>
            <div layout="row">
                <md-button md-no-ink class="md-primary" data-ng-click="create()">Submit</md-button>
                <md-button data-ng-click="cancel()">Cancel</md-button>
            </div>
            <div data-ng-show="error" class="alert alert-danger alert-error">
                <a href="#" class="close" data-dismiss="alert"></a>
                <p><strong data-ng-bind="error"></strong></p>
            </div>
        </div>
    </form>
</section>
