<section data-ng-controller="DashboardsController">
    <div class="page-header">
        <h1>Edit Dashboard</h1>
    </div>
        <form name="dashboardForm">
            <div layout="column">
                <div layout="column">
                    <input type="hidden" data-ng-model="dashboard.productId" id="productId"  class="form-control"  required>
                    <md-input-container flex>
                        <label>Dashboard name</label>
                        <input ng-model="dashboard.name">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Dashboard description</label>
                        <input ng-model="dashboard.description">
                    </md-input-container>
                    <md-checkbox ng-model="dashboard.useInBenchmark" aria-label="Benchmark test runs for this dashboard">
                        Benchmark test runs for this dashboard
                    </md-checkbox>
                </div>
                <div layout="row">
                    <md-button md-no-ink class="md-primary" data-ng-click="update()">Submit</md-button>
                    <md-button data-ng-click="cancel()" >Cancel</md-button>
                    <md-button class="md-warn" data-ng-click="openDeleteDashboardModal('')">Delete dashboard</md-button>
                </div>
            </div>
        </form>
</section>
