<md-content aria-label="SearchAndReplace">
    <md-toolbar class="md-padding">
        <h4>JENKINS CREDENTIALS</h4>
    </md-toolbar>
    <form class="md-padding" name="jenkinsCredentialsForm" ng-enter="jenkinsCredentialsForm.$valid && login()">
        <div layout="column">
            <md-input-container>
                <label>User</label>
                <input name="user" id="jenkinsUser" ng-model="user" required>
                <div ng-messages="jenkinsCredentialsForm.user.$error"
                     ng-if=jenkinsCredentialsForm.user.$touched>
                    <div ng-message="required">User is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="password" required>
                <div ng-messages="jenkinsCredentialsForm.password.$error"
                     ng-if=jenkinsCredentialsForm.password.$touched>
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>

        <div layout="row" layout-align="space-between" flex>
            <md-button ng-click="closeDialogCancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="jenkinsCredentialsForm.$valid && login()" class="md-primary">
                OK
            </md-button>

        </div>
    </form>
</md-content>
