<div data-ng-controller="DashboardsController">
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div>
         <table class="table">
             <thead>
                 <tr>
                     <th>Metric</th>
                     <th>Tag</th>
                     <th>Requirement</th>
                     <th><i class="glyphicon glyphicon-plus" data-ng-click="addMetric()"></i></th>
                 </tr>
             </thead>
             <tbody>
                <tr ng-repeat="metric in dashboard.metrics">
                    <td><a data-ng-href="/#!/edit/metric/{{productName}}/{{dashboardName}}/{{metric._id}}">{{metric.alias}}</a></td>
                    <td>
                        <span ng-repeat="tag in metric.tags track by $index">{{tag.text}}<span data-ng-show="!$last">, </span></span>
                    </td>
                    <td><span>{{metric.requirementOperator}} {{metric.requirementValue}}</span></td>
                    <td><i class="glyphicon glyphicon-trash" data-ng-click="openDeleteMetricModal('', $index)"></i> </th>
                </tr>
             </tbody>
        </table>
    </div>

</div>
