<div data-ng-controller="DashboardsController">
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">
        <div layout="row">
            <div flex="5">
                <md-menu >
                    <md-button aria-label="Open edit menu" class="md-icon-button"
                               ng-click="openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-src="images/assets/ic_input_black_24px.svg"></md-icon>
                        <md-tooltip>
                            Merge metrics from template
                        </md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="template in templates">
                            <md-button data-ng-click="mergeTemplate($index)">
                                {{template.name}}: {{template.description}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div flex="85"></div>


        </div>
        <div layout="row">
            <div layout="row" flex="35">
                <md-input-container style="margin: 0px;" flex>
                    <label>Filter metrics</label>
                    <input ng-model="filterMetrics">
                </md-input-container>
                <md-icon ng-if="filterMetrics && filterMetrics !==''" md-svg-src="images/assets/ic_clear_black_36px.svg"
                         data-ng-click="clearMetricFilter()"></md-icon>
            </div>

        </div>
        <div flex>
            <div layout="row"  layout-align="end center">
                <md-button ng-class="{'disabled': metricSelected === false }" class="md-accent md-icon-button" ng-click="metricSelected && openDeleteSelectedMetricsModal('')" style="margin: 0px;" >
                    <md-tooltip>
                        Delete selected metrics
                    </md-tooltip>
                    <md-icon md-menu-origin md-svg-src="images/assets/ic_delete_forever_black_24px.svg"></md-icon>
                </md-button>
                <md-menu style="margin-right: 5px;">
                    <div ng-class="{'disabled': metricSelected === false }" aria-label="Copy to dashboard" class="md-icon-button"
                         ng-click="metricSelected && openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-src="images/assets/ic_content_copy_black_24px.svg"></md-icon>

                        <md-tooltip>
                            Copy selected metrics to dashboard
                        </md-tooltip>
                    </div>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="dashboard in dashboardsForProduct">
                            <md-button data-ng-click="copyMetricsToDashboard(dashboard)">
                                {{dashboard.name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Metric
                    </th>
                    <th>
                        Tags
                    </th>
                    <th>Requirement</th>
                    <th>Allowed deviation</th>
                    <th>Testrun summary</th>
                    <th>
                        <i class="glyphicon glyphicon-plus" data-ng-click="addMetric()"></i></th>
                    <td>
                        <md-checkbox md-no-ink aria-label="select all metrics" ng-model="allMetricsSelected" ng-change="setAllMetricsSelected(allMetricsSelected)" style="margin: 0px;">
                        </md-checkbox>
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="metric in filteredMetrics" class="hover-row">
                <td ng-click="editMetric(metric._id)">
                   {{metric.alias}}
                </td>
                <td ng-click="editMetric(metric._id)">
                    <span ng-repeat="tag in metric.tags track by $index">{{tag.text}}<span
                            data-ng-show="!$last">, </span></span>
                </td>
                <td ng-click="editMetric(metric._id)"><span>{{metric.requirementOperator}} {{metric.requirementValue}}</span></td>
                <td ng-click="editMetric(metric._id)"><span data-ng-if="metric.benchmarkOperator">{{metric.benchmarkOperator === '>'?'+':'-'}} {{metric.benchmarkValue}}</span>
                </td>
                <td>
                    <md-icon md-svg-src="images/assets/ic_check_black_36px.svg" ng-if="metric.includeInSummary === true"></md-icon>
                </td>
                <td ng-click="editMetric(metric._id)">
                </td>
                <td>
                    <md-checkbox md-no-ink aria-label="select metric" ng-model="metric.selected"  ng-change="setMetricsSelected(metric.selected)" style="margin: 0px;">
                    </md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
