<section>
    <div class="page-header">
        <h1>New Product</h1>
    </div>
    <div class="col-md-12">
        <form name="productForm">
            <div layout="column">
                <div layout="column">
                    <md-input-container
                            md-is-error="productForm.productName.$invalid && (productForm.$submitted || productForm.productName.$dirty || triedToSubmit === true)"
                            flex>
                        <label>Product name</label>
                        <input id="productName" name="productName" ng-model="product.name" record-availability-validator="/products"
                               required>

                        <div ng-messages="productForm.productName.$error"
                             ng-if="productForm.$submitted || productForm.productName.$touched || triedToSubmit === true">
                            <div ng-message="required">Product name is required.</div>
                            <div ng-message="recordLoading">Checking database...</div>
                            <div ng-message="recordAvailable">The product name already exists</div>
                        </div>
                    </md-input-container>
                    <md-input-container
                            md-is-error="productForm.productDescription.$invalid && (productForm.$submitted || productForm.productDescription.$dirty || triedToSubmit === true)"
                            flex>
                        <label>Product description</label>
                        <input name="productDescription" ng-model="product.description" required>

                        <div ng-messages="productForm.productDescription.$error"
                             ng-if="productForm.$submitted || productForm.productDescription.$touched || triedToSubmit === true">
                            <div ng-message="required">Product description is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Default report markdown</label>
                        <textarea  ng-model="product.markDown" placeholder="Enter Markdown text here"  class="markdown-textarea"></textarea>
                    </md-input-container>
                    <md-switch ng-model="product.triggerTestRunsWithJenkins" aria-label="Trigger test runs with Jenkins" ng-class="{'switch-label-disabled': product.triggerTestRunsWithJenkins === false }">
                        Trigger test runs from Jenkins
                    </md-switch>
                    <div ng-if="product.triggerTestRunsWithJenkins"  layout="row" layout-align="start center">
                        <md-input-container flex  >
                            <label>Jenkins job</label>
                            <input name="jenkinsJobName" ng-model="product.jenkinsJobName">
                        </md-input-container>
                        <select-jenkins-job job="product.jenkinsJobName"></select-jenkins-job>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-input-container flex  >
                            <label>Graylog facility name</label>
                            <input name="graylogFacility" ng-model="product.graylogFacility">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-button md-no-ink class="md-primary" ng-click="triedToSubmit=true; productForm.$valid && create()">Submit</md-button>
                    <md-button data-ng-click="cancel()">Cancel</md-button>
                </div>
            </div>

        </form>
    </div>

</section>
