<section>
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div class="page-header">
        <div class="md-padding" layout="column">
            <div>
                <h3>{{product.name}}</h3>
            </div>
            <div>
                <h4>{{product.description}}</h4>
            </div>
            <jenkins-job-status  ng-if="product.triggerTestRunsWithJenkins" dashboard="product"></jenkins-job-status>


        </div>
        <div>
            <md-tabs md-dynamic-height md-selected="selectedIndex">
                <md-tab label="Dashboards" ng-click="setTab(0)">
                    <md-content class="md-padding">
                        <product-dashboards></product-dashboards>
                    </md-content>
                </md-tab><md-tab label="Test runs" ng-click="setTab(1)">
                    <md-content class="md-padding">
                        <product-testruns ng-if="selectedIndex === 1"></product-testruns>
                    </md-content>
                </md-tab>
                <md-tab label="Releases" ng-click="setTab(2)">
                    <md-content class="md-padding">
                        <product-releases ng-if="selectedIndex === 2"></product-releases>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</section>
