<div data-ng-controller="EventsController" data-ng-init="listEventsForDashboard()">
    <div data-ng-include="'modules/core/views/confirm-delete-modal.client.view.html'"></div>
    <div layout="column">
        <div layout="row">
            <div flex="90"></div>
            <div flex="10">
                <md-button ng-if="eventSelected" md-no-ink class="md-accent" ng-click="openDeleteSelectedEventsModal('')" style="margin: 0px;" >Delete selected</md-button>
            </div>
        </div>
        <table class="table">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 5%;">
            </colgroup>
            <thead>
            <tr>
                <th>Timestamp</th>
                <th>Test run ID</th>
                <th>Description</th>
                <th><i class="glyphicon glyphicon-plus" data-ng-click="addEventForDashboard()"></i></th>
                <th>
                    <md-checkbox md-no-ink aria-label="select all events" ng-model="allEventsSelected" ng-change="setAllEventsSelected(allEventsSelected)" style="margin: 0px;">
                    </md-checkbox>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in events | orderBy:'eventTimestamp':true" \>
                <td data-ng-click="editEvent($index)">{{event.eventTimestamp | date:'EEEE, dd-M-yyyy H:mm:ss'}}</td>
                <td data-ng-click="editEvent($index)">{{event.testRunId}}</td>
                <td data-ng-click="editEvent($index)">{{event.eventDescription}}</td>
                <td><i class="glyphicon glyphicon-trash" data-ng-click="openDeleteEventModal('', $index)"></i>
                <td>
                    <md-checkbox md-no-ink aria-label="select event" ng-model="event.selected"  ng-change="setEventsSelected(event.selected)" style="margin: 0px;">
                    </md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
